
.container {
	display: grid;
	justify-content: center;
}


.choice-button-container {
	max-height: 10%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	margin-bottom: 20px;
}

.log-sign-choice {
	border: solid black;
	background-color: #F7CA18;
	min-height: 42px;
	width: 100%;
	cursor: pointer;
	font-size: 20px;
}

.log-sign-choice :hover {
	border: solid blue;
	background-color: #F7CA18;
	min-height: 42px;
	width: 100%;
	cursor: pointer;
	font-size: 20px;
}

.send-form-button {
	border: solid black;
	background-color: #F7CA18;
	min-height: 42px;
	width: 100%;
	cursor: pointer;
	font-size: 20px;
}

#login {
	display: block;

}

#signup {
	display: none;
}

.chosen-mode {
	background-color: black;
	color: #F7CA18;
	border: solid #F7CA18;

}

.req {
	color: red;
}

.tab-content {
	border: solid #F7CA18;
	min-width: 400px;
}

.form-group {
	margin: 10px;
	min-height: 50px;
	padding-top:5px;

}

.form-control {
	float: right;
	min-height: 20px;
	min-width: 200px;
}


