{{#if question}}
    <div class="diagram__button-container">
        <button class="secondary-button" id="histogram-button">Гистограмма</button>
        <button class="primary-button" id="diagram-button">Диаграмма</button>
    </div>
    {{#each question.answers}}
        <div class="results-question_answers_answer-item">
            <p class="results-question_answers_answer-item__label">{{text}}</p>
            <span>
            <div class="results-question_answers_answer-item__bar-container">
                <div class="results-question_answers_answer-item__bar"></div>
            </div>
            <p class="results-question_answers_answer-item__percentage">{{selected_times}}</p>
        </span>
        </div>
    {{/each}}
{{/if}}
