
<div class="list-container">
    <div class="title-container">
        <h3>Мои опросы</h3>
        <div class="list-button-container">
            <button class="primary-button">⇅</button>
            <button class="secondary-button">+</button>
        </div>
    </div>
    <div class="main-container" id="forms-container">

    </div>
</div>