.forms_list-container {
  margin: 40px 100px 0 100px;
  min-width: 230px;
}

.forms_title-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  text-align: center;
  align-items: center;
  min-height: max-content;
  margin-bottom: 20px;
  h3 {
    position: absolute;
    z-index: -1;
    font-size: 35px;
    width: 100%;
    min-width: max-content;
    top: 0;
  }
  .forms_title-container__space {
    min-width: 380px;
    height: 56px;
  }
}

.forms_title-container_button-container {
  display: flex;
  align-items: center;
  button {
    width: 60px;
    height: 50px;
    padding: 0;
    margin-right: 15px;
  }
  button.primary-button {
    font-size: 28px;
    font-weight: lighter;
  }
  button.secondary-button {
    font-size: 32px;
    font-weight: lighter;
    padding-bottom: 5px;
  }
}

.forms_list_main-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.forms_list_main-container_empty-label {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
}
