.form-author-menu {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 78px;
  width: 200px;
  height: 100%;
  padding: 40px 24px;
  background-color: rgba(127, 93, 213, 0.35);
  text-align: center;

  button {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .primary-button {
    margin: 5px 0;
    font-size: 15px;
    &:hover {
      opacity: 1;
      background-color: #DDDDDD;
    }
  }
  .secondary-button {
    margin: 5px 0;
    font-size: 15px;
    &:hover {
      opacity: 1;
      background-color: #7458b6;
    }
  }
  transition: transform 0.8s;
}

.form-author-menu__close {
  transform: translate(-250px, 0);
}

.form-author-menu__open {
  transform: translate(0, 0);
}

#author-menu-close-button {
  position: absolute;
  top: 10px;
  right: -55px;
  font-size: 36px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .form-author-menu {
    height: 60px;
    width: 100%;
    background: none;
    bottom: 0;
    top: unset;
    display: flex;
    padding: 0;
    button {
      border-radius: 0;
      justify-content: center;
    }
    .secondary-button {
      margin: 0;
      font-size: 12px;
    }
    .primary-button {
      margin: 0 0 0 -1px;
      background-color: white;
      font-size: 12px;
    }
  }
  #author-menu-check-button {
    border-radius: 18px 0 0 0;
  }
  #author-menu-link-button {
    border-radius: 0 18px 0 0;
  }
}

@media screen and (max-width: 570px) {
  .form-author-menu {
    button {
      padding: 10px 6px;
      span {
        width: 100%;
      }
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 480px) {
  .form-author-menu {
    button {
      font-size: 10px;
    }
  }
}
