<div class="form-author-menu">
    <button class="primary-button" id="author-menu-check-button">Просмотр</button>
    <button class="primary-button" id="author-menu-update-button">Редактировать</button>
    <button class="primary-button" id="author-menu-results-button">Результаты</button>
    <button class="primary-button" id="author-menu-link-button">Публичная ссылка</button>
</div>

