<div class="form-author-menu form-author-menu__open">
    <button class="primary-button" id="author-menu-check-button">
        <span class="material-symbols-outlined">description</span>
        <label>Просмотр</label>
    </button>
    <button class="primary-button" id="author-menu-update-button">
        <span class="material-symbols-outlined">edit_square</span>
        <label>Изменить</label>
    </button>
    <button class="primary-button" id="author-menu-results-button">
        <span class="material-symbols-outlined">query_stats</span>
        <label>Результаты</label>
    </button>
    <button class="primary-button" id="author-menu-link-button">
        <span class="material-symbols-outlined">share</span>
        <label>Поделиться</label>
    </button>
    <span id="author-menu-close-button" class="material-symbols-outlined">menu_open</span>
</div>


