.form-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.login-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    margin: 0 20px 0 20px;
}

form {
    border-radius: 12px;
    border: 3px solid #424242;
    text-align: center;
    width: 400px;
}

form h3 {
    font-size: 30px;
}

input {
    height: 48px;
    margin: 10px;
    border-radius: 12px;
    border: 2px solid #424242;
    padding: 7px 15px;
    box-sizing: border-box;
    font-size: 25px;
}