* {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content:space-between;
    font-family: 'Exo 2', sans-serif;
    align-items: center;
    padding: 1.25rem 4rem;
    background: #4B357A;
}

.logo a {
    color: #ffffff;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.profile {
    font-size: 24px;
    color: white;
    height: 60px;
}

.profile_pic {
    height: 60px;
    width: 60px;
    object-fit: contain;
}

.profile_name {
    position: relative;
    bottom: 15px;
    left: 20px
}

.list-container {
    width: max-content;
    display: flex;
    justify-content: center;
    font-family: 'Exo 2', sans-serif;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-form {
    margin-top: 40px;
    font-family: 'Exo 2', sans-serif;
    border-radius: 12px;
    text-align: center;
    border: none;
    font-size: 24px;
}

.list-form h3 {
    margin: 25px;
    font-size: 36px;
 }

.list-item {
    background-color: #FFFFFF;
    padding: 13px 12px;
    color: black;
    border-radius: 12px;
    border: 3px solid #424242;
    margin: 20px 10%;
    width: 80%;
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
}

button:hover {
    opacity: 0.6;
    cursor: pointer;
}

