<div class="popup_fade"></div>
<div class="popup">
    <div class="popup_window">
        <h3 class="popup_window_message" id="popup-title">Требуется подтверждение</h3>
        <p id="popup-message"></p>
        <input class="display-none" id="popup-copy-input">
        <div class="button-container">
            <button class="secondary-button" type="submit" id="popup-ok-button">Продолжить</button>
            <button class="primary-button" type="submit" id="popup-cancel-button">Отмена</button>
        </div>
    </div>
</div>
