<nav class="navbar">
    <div class="navbar-logo">
        <a  id="navbar-logo-label">FormHub</a>
    </div>
    <div class="navbar-profile" id="navbar-profile">
    {{#if user}}
        <img class="profile-picture" id="navbar-profile-picture" src="../../resources/images/profile_default.png" alt="">
        <a class="profile-name">{{user.first_name}}</a>
    {{else}}
        <div class="navbar-button-container">
            <button class="black-button" id="navbar-login-button">Войти</button>
            <button class="primary-button" id="navbar-signup-button">Регистрация</button>
        </div>
    {{/if}}
    </div>
</nav>
