.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1.25rem 4rem;
    background: #4B357A;
}

.button-container-navbar {
    display: flex;
}

.logo a {
    color: #ffffff;
    font-weight: bold;
    font-size: 36px;
}

.profile {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    color: white;
}

.profile_pic {
    height: 60px;
    width: 60px;
    object-fit: contain;
}

.profile_name {
    white-space: nowrap;
    font-size: 30px;
    margin: 10% 10% 6% 15%;
}