.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4B357A;
  color: #ffffff;

  .navbar_logo a {
    font-weight: 700;
    cursor: pointer;
  }

  .navbar_profile {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;

    .navbar_profile__picture {
      object-fit: contain;
      border-radius: 5px;
    }

    .navbar_profile__name {
      white-space: nowrap;
    }

    .navbar_button-container {
      display: flex;
    }
  }
}

@media screen {
  .navbar {
    padding: 15px 18px;

    .navbar_logo a {
      font-size: 20px;
    }

    .navbar_profile__picture {
      height: 35px;
      width: 35px;
    }

    .navbar_profile__name {
      display: none;
    }

    #navbar-signup-button {
      display: none;
    }

    #navbar-login-button {
      height: 40px;
      width: 80px;
    }
  }
}


@media (min-width: 480px) {
  .navbar {
    padding: 18px 24px;

    .navbar_logo a {
      font-size: 22px;
    }

    .navbar_profile {
      margin-left: 40px;

      .navbar_profile__picture {
        height: 35px;
        width: 35px;
      }

      .navbar_profile__name {
        display: flex;
        font-size: 20px;
        margin: 6px 0 7px 16px;
      }
    }

  }
}

@media (min-width: 768px) {
  .navbar {
    padding: 16px 48px;

    .navbar_logo a {
      font-size: 29px;
    }

    .navbar_profile {
      margin-left: 40px;

      .navbar_profile__picture {
        height: 48px;
        width: 48px;
      }

      .navbar_profile__name {
        display: flex;
        font-size: 24px;
        margin: 12px 0 7px 16px;
      }
    }

    #navbar-signup-button {
      display: unset;
      height: 44px;
      width: 108px;
      margin-left: 8px;
      padding: 2px 0;
    }

    #navbar-login-button {
      height: 44px;
      width: 108px;
      margin-left: 8px;
      padding: 2px 0;

    }
  }
}
