<link rel="stylesheet" type="text/css" href="navbar.css"/>
<nav class="navbar">
    <div class="logo">
        <a>FormHub</a>
    </div>
    <div class="profile">
    {{#if user}}
        <a class="profile_name">{{user.name}}</a>
        <button class="primary-button" id="navbar-logout-button">Выйти</button>
    {{else}}
        <div class="button-container-navbar">
            <button class="black-button" id="navbar-login-button">Войти</button>
            <button class="primary-button" id="navbar-signup-button">Регистрация</button>
        </div>
    {{/if}}
    </div>
</nav>
