<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,800;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="csat.css">
    <title>CSAT</title>
</head>
<body>
    <div class="csat-container">
        <h3 class="csat-container__title">Оцените наше приложение</h3>
        <a class="csat-container__close-button">❌</a>
        <div class="csat-container__stars-container">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        <div class="button-container">
            <button class="primary-button">Напомнить позже</button>
            <button class="secondary-button">Оценить!</button>
        </div>
        <a class="csat-container__do-not-ask-again">Не спрашивать больше</a>
    </div>
</body>
</html>