%message-common {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.success-container {
  @extend %message-common;
  background-color: #e9ffe9;
  border: 1px solid #d4f1d4;
}

.error-container {
  @extend %message-common;
  background-color: #fde9e9;
  border: 1px solid #eaa7a7;
  color: #ea6767;
}

@media screen {
  %message-common {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }
}

@media screen and (min-width: 480px) {
  %message-common {
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  %message-common {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }
}
