.check-form {
  position: relative;
  text-align: center;

  .button-container {
    gap: 6px;

    #create-link-button {
      padding: 6px;
      display: flex;
      justify-content: center;
      gap: 5px;
      align-items: center;

      span {
        font-size: 22px;
      }
    }
  }
}

.check-form__description {
  border-radius: 16px;
  border: none;
  text-align: left;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
}

.check-form__description-text {
  font-weight: normal;
}

.check-form__anonymous-warning-container {
  display: flex;
}


@media screen and (min-width: 769px) {
  .check-form {
    margin: 32px auto;
    width: 640px;

    .check-form__title {
      font-size: 22px;
    }

    .button-container {
      align-items: center;
      margin-top: 32px;
      gap: 12px;
      button {
        padding: 10px 5px;
        width: 160px;
      }
    }
  }

  .check-form__description {
    padding: 20px;
  }

  .check-form__description-title {
    font-size: 16px;
  }

  .check-form__description-text {
    margin-top: 12px;
    font-size: 18px;
    font-weight: normal;
  }

  .check-form__anonymous-warning-container {
    margin-top: 14px;
    font-size: 14px;
    gap: 8px;
  }
}

@media screen and (max-width: 768px) {
  .check-form {
    margin: 16px 40px;
    //width: 80%;

    .check-form__title {
      font-size: 20px;
      margin-bottom: 8px;
    }

    .button-container {
      align-items: center;
      margin-top: 16px;
      gap: 12px;
      button {
        padding: 12px;
        width: 160px;
      }

    }
  }

  .check-form__description {
    padding: 20px;
  }

  .check-form__description-title {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .check-form__description-text {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 12px;
  }


  .check-form__anonymous-warning-container {
    .check-form__anonymous-warning-icon {
      font-size: 10px;
    }
    margin-top: 14px;
    font-size: 14px;
    gap: 8px;
  }
}

@media screen and (max-width: 480px) {
  .check-form {
    margin: 16px auto;
    width: 90%;

    .check-form__title {
      font-size: 20px;
      margin-bottom: 8px;
    }

    .button-container {
      align-items: center;
      margin-top: 16px;
      gap: 12px;
      button {
        padding: 10px 5px;
        width: 160px;
      }
    }
  }

  .check-form__description {
    padding: 18px;
  }

  .check-form__description-title {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .check-form__description-text {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 12px;
  }

  .check-form__anonymous-warning-container {
    .check-form__anonymous-warning-icon {
      font-size: 11px;
    }
    margin-top: 14px;
    font-size: 14px;
    gap: 8px;
  }
}