.check-form {
  position: relative;
  text-align: center;

  .button-container {
    gap: 6px;
  }
}

.check-form__description {
  border-radius: 9px;
  border: 1px solid #424242;
  text-align: left;
}

.check-form__description-text {
  font-weight: normal;
}

.check-form__anonymous {
  margin-top: 15px;
  padding: 10px 12px;
  border-radius: 9px;
  border: 1px solid #424242;
  text-align: left;
  p {
    font-size: 16px;
    color: #6e51a4;
  }

  .check-form__anonymous-error {
    color: #da2d28;
  }
}

@media screen and (min-width: 768px) {
  .check-form {
    margin: 32px auto;
    width: 640px;

    .check-form__title {
      font-size: 29px;
      margin-bottom: 26px;
    }

    .button-container {
      margin: 15px 9px 8px 9px;
      width: 440px;
      gap: 12px;

      button {
        width: 200px;
      }
    }
  }

  .check-form__description {
    padding: 10px 12px;
  }

  .check-form__anonymous {
    margin-top: 15px;
    padding: 10px 12px;

    p {
      font-size: 16px;
    }

  }

  .check-form__description-title {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .check-form__description-text {
    padding-left: 8px;
    font-size: 18px;
    font-weight: normal;
  }
}

@media screen and (max-width: 768px) {
  .check-form {
    margin: 16px auto;
    width: 80%;

    .check-form__title {
      font-size: 25px;
      margin-bottom: 16px;
    }

    .button-container {
      margin: 15px 9px 8px 9px;
      width: 95%;

      button {
        width: 200px;
      }
    }
  }

  .check-form__description {
    padding: 10px 12px;
  }

  .check-form__anonymous {
    margin-top: 15px;
    padding: 10px 12px;

    p {
      font-size: 16px;
    }

  }

  .check-form__description-title {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .check-form__description-text {
    padding-left: 8px;
    font-size: 18px;
    font-weight: normal;
  }
}

@media screen and (max-width: 480px) {
  .check-form {
    margin: 16px auto;
    width: 90%;

    .check-form__title {
      font-size: 25px;
      margin-bottom: 16px;
    }

    .button-container {
      margin: 15px 0;
      button {
        width: 150px;
      }
    }
  }

  .check-form__description {
    padding: 10px 12px;
  }

  .check-form__anonymous {
    margin-top: 15px;
    padding: 10px 12px;

    p {
      font-size: 16px;
    }
  }

  .check-form__description-text {
    padding-left: 8px;
    font-size: 16px;
    font-weight: normal;
  }
}