{{#if form}}
    <div class="check-form">
        <div class="check-form__description" id="check-form-description">
            <h3 class="check-form__title" id="check-form-title">{{form.title}}</h3>
            {{#ifEquals form.is_archived true}}
                <p class="form__archive-warning">
                    <span class="material-symbols-outlined">archive</span>
                    Это архивированный опрос. Просмотр доступен только вам
                </p>
            {{/ifEquals}}
            {{#ifEquals form.is_archived false}}{{#if ../form.archive_when}}
                <p class="form__archive-warning">
                    <span class="material-symbols-outlined">archive</span>
                    Этот опрос автоматически переместится в архив
                </p>
            {{/if}}{{/ifEquals}}
            <p class="check-form__description-text" id="check-form__description-text">{{form.description}}</p>
            <div class="check-form__anonymous-warning-container">
                {{#ifEquals form.anonymous true}}
                    <span class="check-form__anonymous-warning-icon">⚠️</span>
                    <p class="check-form__anonymous-warning">Это анонимный опрос. Ваше имя  не будет видно автору опроса.</p>
                {{/ifEquals}}
                {{#ifEquals form.anonymous false}}
                    <span class="check-form__anonymous-warning-icon">⚠️</span>
                    <p class="check-form__anonymous-error">Прохождение этого опроса требует авторизации!</p>
                {{/ifEquals}}
            </div>
            <div class="check-form__max-passage-container">
                <span class="check-form__anonymous-warning-icon">⚠️</span>
                <p class="check-form__max-passage-error">
                    Для этого опроса задан лимит прохождений.<br>
                    Осталось попыток:
                    <span id="check-form-passages-left"></span>
                </p>
            </div>
        </div>
        <div class="check-form__questions-container" id="check-form__questions-container"></div>
        <div class="button-container">
            <button class="secondary-button" type="submit" id="update-submit-button">Редактировать</button>
            <button class="primary-button" type="submit" id="create-link-button">
                <span class="material-symbols-outlined">share</span>
                <label>Поделиться</label>
            </button>
            <button class="primary-button display-none" type="submit" id="form-chat-button">Задать вопрос</button>
        </div>
    </div>
{{/if}}