.button-container {
  display: flex;
  gap: 5px;
}

button {
  font-size: 12px;
}

input {
  border: none;
  outline: 0;
}

.outline-button, .usual-button, .red-button, .black-button, .primary-button, .secondary-button {
  padding: 10px 12px;
  border-radius: 9px;
  border: 1px solid rgba(66, 66, 66, 0.3);
  box-shadow: 0 0 2px 0 rgba(34, 60, 80, 0.2);
  width: 100%;
  font-weight: bold;
}
.outline-button:hover, .usual-button:hover, .red-button:hover, .black-button:hover, .primary-button:hover, .secondary-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.secondary-button {
  background-color: #4B357A;
  color: white;
  border: none;
}

.primary-button {
  background-color: #FFFFFF;
  color: black;
}
.primary-button:hover {
  opacity: 1;
  background-color: #eeeeee;
}

.black-button {
  background-color: #000000;
  color: white;
  border-radius: 9px;
}

.red-button {
  background-color: #B42525;
  color: white;
  border-radius: 9px;
}

.usual-button {
  background-color: #FFFFFF;
  color: #4B357A;
  border-radius: 9px;
}

.outline-button {
  border: 1px solid #FFFFFF;
  border-radius: 9px;
  background-color: #4B357A;
  color: #FFFFFF;
}

.button__disabled {
  opacity: 0.6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4B357A;
  color: #ffffff;
}
.navbar .navbar_logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navbar .navbar_logo span {
  font-size: 30px;
  margin: 0 6px 2px 0;
}
.navbar .navbar_logo a {
  font-weight: 700;
}
.navbar .navbar_profile {
  display: flex;
  cursor: pointer;
}
.navbar .navbar_profile .navbar_profile__picture {
  border-radius: 45px;
  width: 45px;
  height: 45px;
}

.navbar_button-container {
  display: flex;
}
.navbar_button-container button {
  font-size: 14px;
}

@media screen {
  .navbar {
    padding: 10px 15px;
  }
  .navbar .navbar_logo a {
    font-size: 22px;
  }
  .navbar .navbar_profile {
    gap: 16px;
  }
  .navbar .navbar_profile .navbar_profile__picture {
    height: 42px;
    width: 42px;
  }
  .navbar .navbar_profile__name {
    display: none;
  }
  .navbar_button-container {
    padding: 2px 0;
  }
  .navbar_button-container button {
    height: 38px;
    width: 100px;
  }
  .navbar_button-container #navbar-signup-button {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .navbar {
    padding: 10px 24px;
  }
  .navbar .navbar_logo a {
    font-size: 22px;
  }
  .navbar .navbar_profile .navbar_profile__picture {
    height: 42px;
    width: 42px;
    object-fit: contain;
    background-color: #ffffff;
  }
  .navbar .navbar_profile__name {
    font-weight: 600;
    display: flex;
    font-size: 18px;
    align-items: center;
  }
  .navbar_button-container {
    padding: 2px 0;
  }
  .navbar_button-container button {
    height: 38px;
    width: 120px;
    margin-left: 8px;
  }
  .navbar_button-container #navbar-signup-button {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    padding: 10px 30px;
  }
  .navbar .navbar_logo a {
    font-size: 26px;
  }
  .navbar .navbar_logo a span {
    font-size: 30px;
  }
  .navbar .navbar_profile {
    gap: 16px;
  }
  .navbar .navbar_profile .navbar_profile__picture {
    height: 45px;
    width: 45px;
    margin: 3px;
  }
  .navbar .navbar_profile__name {
    font-size: 20px;
  }
  .navbar_button-container button {
    font-size: 16px;
    height: 46px;
    width: 150px;
  }
}
.navbar-profile-menu {
  position: fixed;
  z-index: 20;
  border-radius: 9px;
  border: none;
  background-color: #FFFFFF;
  box-shadow: 0 0 6px 0 rgba(34, 60, 80, 0.3);
  text-align: center;
}

@media screen {
  .navbar-profile-menu {
    right: 4px;
    top: 75px;
    padding: 8px;
  }
  .navbar-profile-menu .primary-button {
    font-size: 14px;
    margin: 4px 0;
  }
  .navbar-profile-menu-separator {
    height: 12px;
  }
}
@media screen and (min-width: 480px) {
  .navbar-profile-menu {
    right: 8px;
    top: 80px;
    padding: 8px;
  }
  .navbar-profile-menu .primary-button {
    margin: 3px 0;
  }
  .navbar-profile-menu-separator {
    height: 12px;
  }
}
@media screen and (min-width: 768px) {
  .navbar-profile-menu {
    right: 16px;
    top: 85px;
    padding: 8px;
  }
  .navbar-profile-menu .primary-button {
    margin: 3px 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 480px) {
  .navbar-profile-menu {
    right: 8px;
    top: 80px;
    padding: 8px;
  }
  .navbar-profile-menu .primary-button {
    margin: 3px 0;
  }
  .navbar-profile-menu-separator {
    height: 12px;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .navbar-profile-menu {
    right: 16px;
    top: 85px;
    padding: 8px;
  }
  .navbar-profile-menu .primary-button {
    margin: 3px 0;
  }
  .navbar-profile-menu-separator {
    height: 12px;
  }
}
@media screen and (min-width: 768px) {
  .navbar-profile-menu-separator {
    height: 12px;
  }
}
.form-author-menu {
  position: fixed;
  z-index: 15;
  left: 0;
  top: 71px;
  width: 250px;
  height: 100%;
  padding: 45px 0;
  background-color: #FFFFFF;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(34, 60, 80, 0.3);
  transition: transform 0.8s;
}
.form-author-menu button {
  font-size: 16px;
  padding-left: 20px;
  border: none;
  border-radius: 0;
  display: flex;
  gap: 15px;
  align-items: center;
  box-shadow: none;
}
.form-author-menu .primary-button {
  background-color: #FFFFFF;
}
.form-author-menu .primary-button:hover {
  opacity: 1;
  background-color: #DDDDDD;
}
.form-author-menu .secondary-button:hover {
  opacity: 1;
  background-color: #7458b6;
}

.form-author-menu__close {
  transform: translate(-250px, 0);
}
.form-author-menu__close #author-menu-close-button {
  top: 10px;
  right: -45px;
}

.form-author-menu__open {
  transform: translate(0, 0);
}
.form-author-menu__open #author-menu-close-button {
  top: 6px;
  right: 8px;
}

#author-menu-close-button {
  position: absolute;
  font-size: 36px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .form-author-menu {
    height: 120px;
    width: 100%;
    background: none;
    bottom: 0;
    top: unset;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .form-author-menu div {
    width: 100%;
    display: flex;
  }
  .form-author-menu button {
    border-radius: 0;
    justify-content: center;
    padding-left: 12px;
  }
  .form-author-menu .secondary-button {
    margin: 0;
    font-size: 14px;
  }
  .form-author-menu .primary-button {
    margin: 0 0 0 -1px;
    background-color: white;
    font-size: 14px;
  }
  .form-author-menu__close {
    transition: transform 0s;
    transform: none;
  }
  #author-menu-close-button {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  .form-author-menu button {
    padding: 10px 6px;
    gap: 4px;
    flex-wrap: wrap;
  }
  .form-author-menu button span {
    width: 100%;
  }
  .form-author-menu .secondary-button {
    font-size: 12px;
  }
  .form-author-menu .primary-button {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .form-author-menu button {
    font-size: 10px;
  }
}
.popup_fade {
  position: fixed;
  z-index: 110;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}

.popup {
  position: fixed;
  z-index: 120;
  display: flex;
  width: 100%;
}

.popup_window {
  width: 340px;
  height: 180px;
  margin: 200px auto;
  padding: 20px 24px;
  background-color: #ffffff;
  border: 1px #424242;
  border-radius: 9px;
  font-size: 19px;
  text-align: center;
}
.popup_window p {
  margin-top: 12px;
  height: 90px;
}
.popup_window .button-container {
  gap: 9px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .popup_window {
    width: 300px;
    height: 150px;
    font-size: 18px;
  }
  .popup_window p {
    height: 67px;
  }
}
@media screen and (max-width: 480px) {
  .popup_window {
    width: 280px;
    padding: 20px;
    height: 145px;
    font-size: 16px;
  }
  .popup_window p {
    margin-top: 8px;
    height: 63px;
  }
}
.profile-background {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 60%;
  background-color: #ffffff;
}

.profile {
  position: fixed;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: fit-content;
}

.profile_main-container {
  border-radius: 6px;
  background-color: #F8F8F8;
  box-shadow: 0 0 12px 0 rgba(34, 60, 80, 0.3);
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 30px 0;
  width: 400px;
}
.profile_main-container .profile_main-container__picture {
  height: 220px;
  width: 220px;
  object-fit: contain;
  border-radius: 110px;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.3);
  background-color: #ffffff;
}

.profile_main-container_name-container {
  color: #000000;
  margin: 20px;
  width: 300px;
}
.profile_main-container_name-container h3 {
  text-align: center;
  font-size: 28px;
}
.profile_main-container_name-container .line {
  background-color: #7458b6;
  margin: 25px auto;
  width: 120px;
  height: 3px;
}
.profile_main-container_name-container a {
  line-height: 30px;
  font-size: 20px;
}

.profile_right-container {
  padding: 20px 50px;
  width: 450px;
  text-align: left;
}
.profile_right-container h3 {
  font-size: 38px;
  margin-bottom: 20px;
}
.profile_right-container p {
  font-size: 20px;
}
.profile_right-container .button-container {
  gap: 12px;
  margin-top: 35px;
}
.profile_right-container .button-container button {
  width: 200px;
  font-size: 15px;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .profile_main-container {
    width: 350px;
  }
  .profile_right-container {
    width: 390px;
    padding: 20px 0 20px 30px;
  }
}
@media screen and (max-width: 768px) {
  .profile-background {
    width: 100%;
    height: 60%;
    bottom: 0;
    top: unset;
  }
  .profile {
    position: relative;
    top: 0;
    flex-flow: column;
    align-items: center;
    width: 100%;
  }
  .profile_main-container {
    width: 400px;
    margin-right: 50px;
  }
  .profile_right-container {
    width: 90%;
    padding: 20px 15px 0 15px;
  }
}
@media screen and (max-width: 480px) {
  .profile_main-container {
    width: 90%;
    margin: 10px 30px;
  }
  .profile_main-container .profile_main-container_name-container {
    width: 90%;
    margin: 20px auto;
  }
  .profile_main-container .profile_main-container__picture {
    height: 80%;
    max-height: 220px;
    width: 80%;
    max-width: 220px;
    object-fit: contain;
    border-radius: 110px;
  }
  .profile_right-container h3 {
    text-align: center;
    font-size: 26px;
  }
  .profile_right-container .button-container {
    gap: 6px;
    margin-top: 35px;
    flex-wrap: wrap;
  }
  .profile_right-container .button-container button {
    width: 48%;
    min-width: 140px;
    font-size: 14px;
  }
}
.update-profile_main-container__picture {
  height: 220px;
  width: 220px;
  object-fit: contain;
  border-radius: 110px;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.3);
  background-color: #ffffff;
}

.update-profile_img-container_avatar-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  margin: 20px 0 15px 0;
}
.update-profile_img-container_avatar-container label {
  border-radius: 9px;
  width: 135px;
  background-color: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0.3);
  display: inline-block;
  padding: 5px 9px 6px 15px;
  font-size: 18px;
  cursor: pointer;
}
.update-profile_img-container_avatar-container label .update-profile_img-container_avatar-container__input {
  display: none;
}
.update-profile_img-container_avatar-container #update-profile-avatar-cancel {
  font-size: 30px;
  color: #da2d28;
  margin: 0;
  cursor: pointer;
}

.update-profile__name-input-container {
  margin-top: 20px;
  width: 85%;
  display: flex;
  flex-flow: column;
  justify-content: left;
  text-align: left;
}
.update-profile__name-input-container label {
  font-size: 18px;
  margin: 0 0 8px 8px;
}
.update-profile__name-input-container .update-profile_input-container__input {
  height: 24px;
  margin-bottom: 8px;
  padding: 6px 8px;
  font-size: 18px;
  border-radius: 9px;
  box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0.3);
}
.update-profile__name-input-container .update-profile_max-passage__input {
  height: 24px;
  margin-bottom: 8px;
  padding: 8px 8px;
  font-size: 18px;
  border-radius: 9px;
  box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0.3);
}

.update-profile__select select {
  width: 500px;
  appearance: none;
  background-color: #FFFFFF;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.update-profile__select_custom-arrow {
  display: block;
  position: absolute;
  top: 10px;
  left: 210px;
  overflow: hidden;
  pointer-events: none;
}

.update-profile__select select {
  width: 320px;
  font-size: 16px;
}

.update-profile__select_custom-arrow {
  left: 190px;
  top: -1px;
  font-size: 20px;
}

.update-profile_right-container {
  display: flex;
  flex-flow: column;
  line-height: 24px;
  justify-content: left;
  padding: 20px 50px;
  width: 450px;
  text-align: left;
}
.update-profile_right-container h3 {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 30px;
}
.update-profile_right-container .button-container {
  gap: 12px;
  margin-top: 35px;
}
.update-profile_right-container .button-container button {
  width: 200px;
  font-size: 15px;
  font-weight: bold;
}

.update-profile__input-container {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
}
.update-profile__input-container label {
  display: inline-flex;
  width: 190px;
  font-size: 18px;
  align-self: center;
  margin-bottom: 8px;
}
.update-profile__input-container .update-profile_input-container__input {
  width: 230px;
  height: 24px;
  margin-bottom: 8px;
  padding: 6px 8px;
  font-size: 18px;
  border-radius: 9px;
  box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0.3);
}

.update-profile-form_container__input-show-button {
  color: #000000;
  margin-left: -32px;
  margin-top: 8px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .update-profile_right-container {
    width: 390px;
    padding: 20px 0 20px 30px;
  }
  .update-profile__input-container label {
    width: 155px;
  }
  .update-profile__input-container .update-profile_input-container__input {
    width: 205px;
  }
}
@media screen and (max-width: 768px) {
  .update-profile_right-container {
    background-color: #ffffff;
    width: 90%;
    padding: 20px 40px 0 40px;
    margin-top: 10px;
  }
  .update-profile_right-container h3 {
    font-size: 30px;
  }
  .update-profile__input-container {
    height: unset;
  }
  .update-profile__input-container label {
    width: 200px;
  }
  .update-profile__input-container .update-profile_input-container__input {
    width: 350px;
  }
}
@media screen and (max-width: 480px) {
  .update-profile_right-container {
    width: 85%;
  }
  .update-profile_right-container h3 {
    text-align: center;
    font-size: 26px;
  }
  .update-profile_right-container .button-container {
    gap: 6px;
    margin-top: 35px;
    flex-wrap: wrap;
  }
  .update-profile_right-container .button-container button {
    width: 48%;
    min-width: 120px;
    font-size: 14px;
  }
  .update-profile__input-container .update-profile_input-container__input {
    width: 90%;
  }
  .update-profile__name-input-container {
    width: 90%;
  }
}
.forms-list__item {
  position: relative;
  background-color: #FFFFFF;
  height: 220px;
  width: 360px;
  border-radius: 16px;
  box-shadow: 0 4px 4px 0 rgba(34, 60, 80, 0.2);
}
.forms-list__item .forms-list_item__hat {
  border-radius: 16px 16px 0 0;
  height: 16px;
  width: 100%;
  background-color: #D9D9D9;
}
.forms-list__item:hover {
  cursor: pointer;
}
.forms-list__item:hover .forms-list_item__hat {
  background-color: #4B357A;
}

.forms-list_item__content {
  overflow-wrap: anywhere;
  padding: 10px 35px 10px 15px;
}
.forms-list_item__content h3 {
  font-size: 22px;
  line-height: 35px;
  height: 105px;
}
.forms-list_item__content p {
  margin-top: 30px;
  font-size: 18px;
}

.forms-list_item__select-menu {
  position: absolute;
  top: 65px;
  right: -20px;
  width: 250px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.3);
  transition: 0.2s;
}
.forms-list_item__select-menu button {
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  display: flex;
  gap: 16px;
  align-items: center;
}

#forms-list-item-menu-button {
  position: absolute;
  top: 25px;
  right: 5px;
  padding: 4px;
  font-size: 28px;
}
#forms-list-item-menu-button:hover {
  background-color: #DDDDDD;
  border-radius: 20px;
}

.forms_list-container {
  margin: 32px 80px 0 80px;
  min-width: 185px;
}

.forms_title-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  text-align: center;
  align-items: center;
  min-height: max-content;
  height: 38px;
  margin-bottom: 16px;
}
.forms_title-container h3 {
  position: absolute;
  z-index: -1;
  font-size: 29px;
  width: 100%;
  min-width: max-content;
  top: 0;
}

.forms_title-container_button-container {
  display: flex;
  align-items: center;
}
.forms_title-container_button-container button {
  width: 48px;
  height: 40px;
  padding: 0;
  margin-right: 12px;
}
.forms_title-container_button-container button.secondary-button {
  font-size: 26px;
  font-weight: lighter;
  padding-bottom: 4px;
}

.forms_search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: fit-content;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(34, 60, 80, 0.2);
}
.forms_search-container .forms_search-container__input {
  border-radius: 9px 0 0 9px;
  height: 36px;
  width: 560px;
  font-size: 20px;
  padding: 3px 16px;
}
.forms_search-container .forms_search-container__button {
  background-image: url("https://cdn-icons-png.flaticon.com/128/2414/2414255.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 30px;
  border-radius: 0 9px 9px 0;
  border: none;
  background-color: #e0e0e0;
  margin-left: -2px;
  height: 44px;
  width: 105px;
  font-size: 16px;
}
.forms_search-container .forms_search-container__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.forms__loading-screen {
  position: fixed;
  z-index: 120;
  display: flex;
  width: 100%;
  height: 100%;
  top: 225px;
  left: 0;
  background-color: rgba(241, 241, 241, 0.6);
  transition: visibility 0.3s, opacity 0.5s;
}
.forms__loading-screen img {
  width: 48px;
  height: 48px;
  margin: 100px auto;
}

.forms_list_main-container {
  width: 1515px;
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: flex-start;
}

@media (max-width: 1675px) {
  .forms_list_main-container {
    width: 1130px;
  }
}
@media (max-width: 1305px) {
  .forms_list_main-container {
    width: 745px;
  }
}
@media (max-width: 920px) {
  .forms-list__item {
    width: 280px;
  }
  .forms_list_main-container {
    width: 585px;
  }
}
@media (max-width: 660px) {
  .forms-list__item {
    width: 100%;
  }
  .forms_list_main-container {
    width: 100%;
  }
}
.forms_list_main-container_empty-label {
  margin-top: 16px;
  text-align: center;
  font-size: 24px;
  width: 100%;
}

.forms_list_main-container_create-new-label {
  margin-top: 12px;
  text-align: center;
  font-size: 24px;
  color: #6e51a4;
  cursor: pointer;
  width: 100%;
}

.display-invisible {
  visibility: hidden !important;
  opacity: 0 !important;
}

.display-none {
  display: none !important;
}

@media screen and (max-width: 480px) {
  .forms_list-container {
    margin: 32px 28px;
  }
  .forms_search-container .forms_search-container__input {
    min-width: 210px;
  }
}
@media screen and (max-width: 768px) {
  .forms_list-container {
    margin: 32px 40px;
  }
  .forms_title-container {
    margin-bottom: 15px;
  }
  .forms_title-container h3 {
    font-size: 26px;
  }
  .forms_title-container_button-container button {
    width: 40px;
    height: 36px;
    font-size: 24px;
  }
  .forms_search-container {
    margin-bottom: 30px;
  }
  .forms_search-container .forms_search-container__button {
    content-visibility: hidden;
    width: 45px;
  }
  .forms__loading-screen {
    top: 230px;
  }
  .forms__loading-screen img {
    width: 40px;
    height: 40px;
    margin: 85px auto;
  }
}
@media screen and (max-width: 480px) {
  .forms_list-container {
    margin: 32px 15px;
  }
  .forms_search-container .forms_search-container__input {
    min-width: 210px;
  }
}
.check-question {
  border-radius: 16px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
}
.check-question .material-symbols-outlined {
  font-size: 20px;
}
.check-question .button-container button {
  font-size: 15px;
  font-weight: normal;
}

.check-question__clear-button {
  font-size: 14px !important;
  width: 200px !important;
  padding: 6px !important;
}

.check-question__description-title {
  font-size: 18px;
  margin-bottom: 8px;
  text-align: left;
}

.check-question__required-title {
  color: #da2d28;
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  margin-left: 10px;
}

.check-question__description-text {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 12px;
  text-align: left;
}

.check-question__answer-title {
  margin-bottom: 8px;
  text-align: left;
}

.check-question__answer-item {
  display: flex;
  margin-bottom: 8px;
  text-align: left;
  align-items: center;
}
.check-question__answer-item .check-question__answer-item-label {
  font-size: 16px;
  font-weight: normal;
  min-width: 100px;
  cursor: pointer;
}
.check-question__answer-item .check-question__answer-item-checkbox {
  width: 14px;
  height: 14px;
  border: 1.5px solid #1E2534;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
  cursor: pointer;
}
.check-question__answer-item .check-question__answer-item-radio {
  width: 14px;
  height: 14px;
  border: 1.5px solid #1E2534;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
  cursor: pointer;
}
.check-question__answer-item .check-question__answers-item-textarea {
  font-size: 16px;
  height: 95px;
  resize: none;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 769px) {
  .check-question {
    margin-top: 20px;
    padding: 20px;
  }
  .check-question__answers-item-textarea {
    width: 565px;
  }
  .check-question__answer-item {
    padding: 5px 0;
    gap: 12px;
  }
  .button-container {
    margin-top: 16px;
  }
  .check-question__answers-item-textarea {
    padding: 5px;
    width: 98%;
  }
}
@media screen and (max-width: 768px) {
  .check-question {
    margin-top: 16px;
    padding: 20px;
  }
  .check-question__answers-item-textarea {
    padding: 5px;
    width: 98%;
  }
  .check-question__answer-item {
    padding: 5px 0;
    gap: 12px;
  }
  .button-container {
    margin-top: 16px;
  }
}
@media screen and (max-width: 480px) {
  .check-question {
    margin-top: 16px;
    padding: 20px;
  }
  .check-question .button-container {
    flex-wrap: wrap;
    gap: 8px;
  }
  .check-question__clear-button {
    width: 180px !important;
    min-width: max-content;
  }
  .check-question__answers-item-textarea {
    padding: 5px;
    width: 98%;
  }
  .check-question__answer-item {
    padding: 5px 0;
    gap: 12px;
  }
  .button-container {
    margin-top: 16px;
  }
}
.results-question {
  border-radius: 16px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  margin-top: 20px;
  padding: 15px;
}

.results-question_title-container {
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  height: 35px;
  margin-bottom: 15px;
}

.results-question__description-title {
  padding-left: 4px;
  font-size: 18px;
  text-align: left;
}

.results-question__required-title {
  color: #da2d28;
  padding-left: 8px;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 8px;
  text-align: left;
}

.results-question__answers-title {
  padding-left: 4px;
  font-size: 18px;
  text-align: left;
}

.results-question_answers {
  font-size: 18px;
}

.results-question_answers_answer-item {
  display: flex;
  margin: 18px 0;
  text-align: left;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
}
.results-question_answers_answer-item span {
  display: flex;
}
.results-question_answers_answer-item .results-question_answers_answer-item__label, .results-question_answers_answer-item .results-question_answers_answer-item__percentage {
  width: 120px;
  margin: 0 0 0 12px;
  font-size: 16px;
  font-weight: normal;
  padding-left: 4px;
}
.results-question_answers_answer-item .results-question_answers_answer-item__answer-text {
  width: 100%;
  margin: 0 0 0 12px;
  font-size: 16px;
  font-weight: normal;
  padding-left: 4px;
}
.results-question_answers_answer-item .results-question_answers_answer-item__bar-container {
  width: 320px;
  height: 18px;
  background-color: #DDDDDD;
}
.results-question_answers_answer-item .results-question_answers_answer-item__bar-container .results-question_answers_answer-item__bar {
  min-width: 4px;
  height: 18px;
  background-color: #6e51a4;
}

@media screen and (max-width: 768px) {
  .results-question {
    margin-top: 16px;
    padding: 20px;
  }
  .results-question_title-container {
    flex-wrap: wrap;
    height: unset;
    gap: 8px;
    margin-bottom: 12px;
  }
  .results-question__passage-text {
    padding-left: 5px;
  }
  .results-question_answers_answer-item {
    flex-wrap: wrap;
    justify-content: center;
  }
  .results-question_answers_answer-item .results-question_answers_answer-item__label {
    line-height: 30px;
    width: 100%;
    text-align: left;
  }
  .results-question_answers_answer-item .results-question_answers_answer-item__percentage {
    min-width: 80px;
  }
  .results-question_answers_answer-item span {
    width: 95%;
  }
  .results-question_answers_answer-item span .results-question_answers_answer-item__bar-container {
    width: 80%;
  }
  .results-question__answer-item {
    padding: 5px 8px;
  }
}
@media screen and (max-width: 480px) {
  .results-question {
    margin-top: 16px;
    padding: 20px;
  }
  .results-question_title-container {
    margin-bottom: 16px;
  }
  .results-question__description-title {
    width: 100%;
  }
  .results-question__answer-item {
    padding: 5px 12px;
    margin: 0 auto;
  }
}
.diagram__button-container {
  margin: 10px 0 25px 0;
  display: flex;
  gap: 15px;
}
.diagram__button-container button {
  width: 150px;
  padding: 8px 12px;
}

.diagram__canvas {
  margin-right: 50px;
}

.results-question_answers_answer-item .results-question__answers-answer-item__color {
  width: 15px;
  height: 15px;
  margin: 0 15px 0 50px;
  background-color: #4B357A;
}
.results-question_answers_answer-item .results-question_answers_answer-item__diagram-label {
  width: 450px;
}

.results-question_answers_answer-item__percentage-diagram {
  width: 120px;
  font-size: 16px;
  font-weight: normal;
  padding-left: 4px;
}

@media screen and (max-width: 768px) {
  .diagram__canvas {
    margin-right: 0px;
  }
  .results-question_answers_answer-item__percentage-diagram {
    width: 80px;
  }
  .results-question_answers_answer-item .results-question__answers-answer-item__color {
    margin: 0 15px 0 0;
  }
  .results-question_answers_answer-item .results-question_answers_answer-item__diagram-label {
    width: 60%;
  }
}
@media screen and (max-width: 480px) {
  .diagram__canvas {
    width: 140px;
  }
  .results-question_answers_answer-item .results-question_answers_answer-item__diagram-label {
    width: 50%;
  }
}
.update-question {
  border-radius: 16px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  transition: transform 1s;
}
.update-question ::placeholder {
  color: rgb(187, 187, 187);
}

.update-question__title-container {
  display: flex;
  justify-content: space-between;
}
.update-question__title-container .update-question__title-input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  padding: 8px 12px;
  outline: none;
}
.update-question__title-container .update-question__title-input:hover {
  background-color: #F1F1F1;
}
.update-question__title-container .update-question__select {
  font-weight: 600;
  align-items: center;
  display: flex;
  margin-left: 15px;
}

.update-question__description-textarea {
  font-size: 16px;
  height: 60px;
  resize: none;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.update-question__description-textarea:hover {
  background-color: #F1F1F1;
}

.update-question__answers-item {
  margin-bottom: 8px;
}

.update-question__answer-format {
  text-align: left;
  margin-bottom: 8px;
  flex-wrap: wrap;
}
.update-question__answer-format .update-question__answer-format-radio {
  width: 12px;
  height: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
.update-question__answer-format .update-question__answer-format-label {
  font-size: 16px;
  font-weight: normal;
  padding-right: 20px;
}

.update-question__button-container {
  margin-top: 24px;
  display: flex;
  flex-flow: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.update-question__button-container button {
  width: 200px;
}
.update-question__button-container .update-question__required-container {
  gap: 4px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.update-question__button-container .update-question__required-delete-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.update-question__button-container .update-question__move-buttons-container {
  padding-left: 20px;
  display: flex;
  gap: 24px;
}
.update-question__button-container .update-question__move-buttons-container span {
  font-size: 24px;
  color: #303030;
  cursor: pointer;
}
.update-question__button-container .material-symbols-outlined {
  font-size: 22px;
  color: #B42525;
}
.update-question__button-container .update-question__question-delete {
  cursor: pointer;
}

@media (max-width: 410px) {
  .update-question__button-container .update-question__move-buttons-container {
    width: 100%;
  }
}
.update-question__select {
  position: relative;
}

.update-question__select select {
  width: 240px;
  appearance: none;
  background-color: #FFFFFF;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.update-question__select_custom-arrow {
  display: block;
  position: absolute;
  top: 10px;
  left: 210px;
  overflow: hidden;
  pointer-events: none;
}

@media screen and (min-width: 769px) {
  .update-question {
    margin-top: 24px;
    padding: 24px;
  }
  .update-question__title-input {
    width: 535px;
    font-size: 20px;
  }
  .update-question__select select {
    font-size: 17px;
    padding: 4px 8px;
  }
  .update-question__description-textarea {
    margin-top: 16px;
    font-size: 16px;
    padding: 8px 12px;
    width: 535px;
  }
  .update-question_button-container__required-checkbox {
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
  .update-question_button-container__required-label {
    font-size: 16px;
    margin-left: 6px;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  .update-question {
    margin-top: 16px;
    padding: 18px;
  }
  .update-question__title-container {
    display: block;
    padding: 0;
  }
  .update-question__title-container .update-question__title-input {
    width: 94%;
    font-size: 18px;
  }
  .update-question__title-container .update-question__select {
    margin-top: 8px;
    margin-left: 6px;
  }
  .update-question__select select {
    width: 220px;
    font-size: 16px;
  }
  .update-question__select_custom-arrow {
    left: 190px;
    top: -1px;
    font-size: 20px;
  }
  .update-question_button-container__required-checkbox {
    width: 12px;
    height: 12px;
  }
  .update-question_button-container__required-label {
    font-size: 14px;
    margin-left: 3px;
  }
  .update-question__button-container {
    margin-top: 16px;
    gap: 8px;
  }
  .update-question__description-textarea {
    font-size: 16px;
    padding: 6px 10px;
    margin-top: 12px;
    width: 96%;
  }
}
@media screen and (max-width: 480px) {
  .update-question {
    margin-top: 16px;
    padding: 18px;
  }
  .update-question__title-container {
    display: block;
    padding: 0;
  }
  .update-question__title-container .update-question__title-input {
    width: 92%;
    font-size: 16px;
  }
  .update-question__title-container {
    margin-top: 6px;
  }
  .update-question__description-textarea {
    margin-top: 16px;
    height: 90px;
    font-size: 15px;
    width: 94%;
  }
  .update-question__button-container {
    margin-top: 16px;
    gap: 8px;
  }
  .update-question_button-container__required-label {
    font-size: 14px;
    margin-left: 4px;
  }
}
@media (min-width: 1200px) {
  .update-question__description-textarea {
    width: 745px;
  }
}
.update-question__answers-item {
  display: flex;
  gap: 8px;
  text-align: left;
  align-items: center;
  border: none;
}
.update-question__answers-item .update-question__answers-item-input {
  font-weight: normal;
  margin: 0;
  padding: 4px 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  outline: none;
}
.update-question__answers-item .update-question__answers-item-input:hover {
  background-color: #F1F1F1;
}
.update-question__answers-item .update-question__answers-item-textarea {
  height: 95px;
  resize: none;
  font-size: 16px;
  background-color: #FFFFFF;
  border-radius: 6px;
  padding: 8px;
  *overflow: hidden;
}
.update-question__answers-item .update-question__answers-item-delete {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
}
.update-question__answers-item .update-question__answers-item-delete:hover {
  color: #B42525;
}

.update-question__answers-item-checkbox {
  width: 15px;
  height: 15px;
  border: 1.5px solid #1E2534;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

.update-question__answers-item-radio {
  width: 15px;
  height: 15px;
  border: 1.5px solid #1E2534;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

.add-button-display-none {
  display: none;
}

.update-question__answers_add_button {
  display: flex;
  gap: 16px;
  text-align: left;
  align-items: center;
  border: none;
  margin: 0;
  cursor: pointer;
}

.update-question__answers-add-input {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  outline: none;
  border: none;
  pointer-events: none;
}

#update-question__answers-add-input:hover {
  background-color: #F1F1F1;
}

@media screen and (min-width: 769px) {
  .update-question__answers {
    margin-top: 16px;
  }
  .update-question__answers-item-textarea {
    width: 590px;
  }
  .update-question__answers-item {
    margin-bottom: 16px;
  }
  .update-question__answers-item-input {
    font-size: 16px;
    width: 300px;
  }
  .update-question__answers-add-input {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .update-question__answers-item-textarea {
    width: 90%;
  }
  .update-question__answers {
    margin-top: 10px;
  }
  .update-question__answers-item-input {
    width: 80%;
    font-size: 16px;
  }
  .update-question__answers-item-checkbox {
    width: 15px;
    height: 15px;
  }
  .update-question__answers-add-input {
    font-size: 16px;
  }
  .update-question__answers_add_button {
    margin-top: 10px;
  }
}
@media screen and (max-width: 480px) {
  .update-question__answers-item-textarea {
    width: 90%;
  }
  .update-question__answers {
    margin-top: 10px;
  }
  .update-question__answers-item-input {
    width: 80%;
    font-size: 15px;
  }
  .update-question__answers-item-checkbox {
    width: 14px;
    height: 14px;
  }
  .update-question__answers-add-input {
    font-size: 15px;
  }
  .update-question__answers_add_button {
    margin-top: 10px;
    font-size: 13px;
  }
  .update-question_button-container__required-checkbox {
    width: 11px;
    height: 11px;
  }
}
@media (min-width: 1200px) {
  .update-question__answers-item-input {
    width: 450px;
  }
}
.check-form {
  position: relative;
  text-align: center;
}
.check-form .button-container {
  gap: 6px;
}
.check-form .button-container button {
  padding: 8px;
  font-size: 14px;
}
.check-form .button-container #create-link-button {
  padding: 8px;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}
.check-form .button-container #create-link-button span {
  font-size: 22px;
}

.check-form__description {
  border-radius: 16px;
  border: none;
  text-align: left;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
}

.form__archive-warning {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.check-form__description-text {
  font-weight: normal;
}

.check-form__anonymous-warning-container, .check-form__max-passage-container {
  display: flex;
}

#check-form-passages-left {
  margin-left: 5px;
  font-weight: bold;
}

@media screen and (min-width: 769px) {
  .check-form {
    margin: 32px auto;
    width: 640px;
  }
  .check-form .check-form__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .check-form .button-container {
    align-items: center;
    margin-top: 32px;
    gap: 12px;
  }
  .check-form .button-container button {
    padding: 10px 5px;
    width: 160px;
  }
  .check-form__description {
    padding: 20px;
  }
  .check-form__description-title {
    font-size: 16px;
  }
  .check-form__description-text {
    margin-top: 12px;
    font-size: 18px;
    font-weight: normal;
  }
  .check-form__anonymous-warning-container, .check-form__max-passage-container {
    margin-top: 14px;
    font-size: 14px;
    gap: 12px;
  }
}
@media screen and (max-width: 768px) {
  .check-form {
    margin: 16px 40px;
  }
  .check-form .check-form__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .check-form .button-container {
    align-items: center;
    margin-top: 16px;
    gap: 12px;
  }
  .check-form .button-container button {
    padding: 12px;
    width: 160px;
    font-size: 13px;
  }
  .check-form__description {
    padding: 20px;
  }
  .check-form__description-title {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .check-form__description-text {
    font-size: 16px;
    font-weight: normal;
    margin-top: 12px;
  }
  .check-form__anonymous-warning-container, .check-form__max-passage-container {
    margin-top: 14px;
    font-size: 14px;
    gap: 12px;
  }
  .form__archive-warning {
    font-size: 14px;
  }
  .check-form__anonymous-warning-icon {
    font-size: 10px;
  }
}
@media screen and (max-width: 480px) {
  .check-form {
    margin: 16px auto;
    width: 90%;
  }
  .check-form .check-form__title {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .check-form .button-container {
    align-items: center;
    margin-top: 16px;
    gap: 12px;
  }
  .check-form .button-container button {
    padding: 10px 5px;
    width: 160px;
  }
  .check-form__description {
    padding: 18px;
  }
  .check-form__description-title {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .check-form__description-text {
    font-size: 16px;
    font-weight: normal;
    margin-top: 12px;
  }
  .check-form__anonymous-warning-container, .check-form__max-passage-container {
    margin-top: 14px;
    font-size: 14px;
    gap: 12px;
  }
  .check-form__anonymous-warning-container .check-form__anonymous-warning-icon, .check-form__max-passage-container .check-form__anonymous-warning-icon {
    font-size: 11px;
  }
}
@media (min-width: 1200px) {
  .check-form {
    margin: 32px auto;
    width: 820px;
  }
  .check-form .button-container button {
    width: 200px;
  }
}
.update-form__title-input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  padding: 8px 12px;
  outline: none;
  width: 98%;
}

.update-form__title-input:hover {
  background-color: #F1F1F1;
}

.update-form__description {
  text-align: left;
  border: none;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
}
.update-form__description ::placeholder {
  color: rgb(187, 187, 187);
}

.update-form__description-textarea {
  margin-top: 10px;
  font-size: 16px;
  height: 90px;
  resize: none;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.update-question__question-delete {
  cursor: pointer;
}

#create-link-button {
  cursor: pointer;
}

.update-form__description-textarea:hover {
  background-color: #F1F1F1;
}

.update-form_anonymous__checkbox:hover, .update-form_anonymous__checkbox-label:hover {
  background-color: #a9a9a9;
}

.update-form__anonymous-warning-container {
  display: flex;
}

.update-form__max-passage-container {
  margin: 20px 0 10px 10px;
}
.update-form__max-passage-container .update-form_max-passage__input {
  width: 170px;
  margin-left: 12px;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.update-form__max-passage-container p {
  margin-top: 6px;
}

.update-form__input-error {
  background-color: #fdc6c6 !important;
}

.update-form_add-question-button {
  background-color: #FFFFFF;
  border: none;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  color: rgba(0, 0, 0, 0.5);
}

.update-form_add-question-button:hover {
  background-color: #F6F6F6;
}

.update-form_add-question-button {
  align-items: center;
}

@media screen and (min-width: 769px) {
  .update-form {
    margin: 32px auto;
    width: 640px;
  }
  .update-form .button-container {
    width: 440px;
    margin: 24px 0;
    gap: 12px;
  }
  .update-form .button-container button {
    width: 200px;
    font-size: 14px;
  }
  .update-form__title-input {
    font-size: 24px;
    width: 580px;
  }
  .update-form__description {
    padding: 20px;
  }
  .update-form__description-textarea {
    width: 580px;
    padding: 8px 12px;
    font-size: 18px;
  }
  .update-form_anonymous__checkbox-container {
    padding-left: 2px;
    margin-top: 16px;
  }
  .update-form_anonymous__checkbox {
    border-radius: 4px;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
  .update-form_anonymous__checkbox-label {
    margin-left: 7px;
    font-size: 16px;
    cursor: pointer;
  }
  .update-form__anonymous-warning-container {
    margin-top: 8px;
    font-size: 16px;
    gap: 8px;
  }
  .check-form__anonymous-warning-icon {
    font-size: 13px;
  }
  .update-form_add-question-button {
    margin-top: 24px;
    align-items: center;
    font-size: 30px;
    height: 36px;
    width: 100%;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  .update-form {
    margin: 16px 40px;
  }
  .update-form .button-container {
    width: 90%;
    gap: 8px;
  }
  .update-form .button-container button {
    width: 180px;
    margin-bottom: 4px;
  }
  .update-form__title-input {
    font-size: 20px;
    width: 96%;
  }
  .update-form__description {
    padding: 18px;
  }
  .update-form__description-header {
    font-size: 20px;
  }
  .update-form__description-textarea {
    padding: 8px 12px;
    font-size: 18px;
    width: 96%;
  }
  .update-form_anonymous__checkbox-container {
    margin-top: 16px;
    font-size: 13px;
  }
  .update-form_anonymous__checkbox-label {
    margin-left: 12px;
    font-size: 14px;
  }
  .update-form__anonymous-warning-container {
    margin-top: 12px;
    font-size: 14px;
    gap: 10px;
  }
  .update-form__max-passage-container {
    font-size: 14px;
  }
  .update-form__max-passage-container .update-form_max-passage__input {
    width: 150px;
    font-size: 14px;
  }
  .update-form_add-question-button {
    margin-top: 16px;
    font-size: 30px;
    height: 36px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .update-form {
    margin: 16px auto;
    width: 90%;
  }
  .update-form .button-container {
    width: 90%;
    gap: 8px;
  }
  .update-form .button-container button {
    width: 140px;
    height: 42px;
    margin-bottom: 4px;
  }
  .update-form__title-input {
    font-size: 18px;
    width: 94%;
  }
  .update-form__description {
    padding: 18px;
  }
  .update-form__description-header {
    font-size: 16px;
  }
  .update-form__description-textarea {
    padding: 8px 12px;
    font-size: 16px;
    width: 94%;
  }
  .update-form_anonymous__checkbox-container {
    margin-top: 16px;
    font-size: 12px;
    gap: 10px;
  }
  .update-form_anonymous__checkbox {
    border-radius: 4px;
    width: 11px;
    height: 11px;
    cursor: pointer;
  }
  .update-form_anonymous__checkbox-label {
    margin-left: 12px;
    font-size: 14px;
  }
  .update-form__anonymous-warning-container {
    margin-top: 8px;
    font-size: 14px;
    gap: 8px;
  }
  .update-form__max-passage-container {
    display: flex;
    flex-flow: column;
    gap: 8px;
  }
  .update-form__max-passage-container label {
    margin-left: 5px;
  }
  .update-form__max-passage-container .update-form_max-passage__input {
    margin-left: 0;
  }
  .update-form_add-question-button {
    margin-top: 16px;
    font-size: 30px;
    height: 36px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .update-form {
    margin: 32px auto;
    width: 820px;
  }
  .update-form .update-form__title-input {
    width: 755px;
  }
  .update-form .update-form__description-textarea {
    width: 755px;
  }
  .update-form .button-container button {
    width: 200px;
  }
}
.form-results {
  position: relative;
  text-align: center;
  font-size: 20px;
  margin: 32px auto;
  width: 640px;
}
.form-results .button-container {
  margin: 20px 0 0 9px;
}
.form-results .button-container button {
  width: 200px;
  font-size: 14px;
}

.form-results__description {
  padding: 20px;
  border-radius: 16px;
  border: none;
  text-align: left;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
}

.form-results__description-title {
  font-size: 20px;
  margin-bottom: 8px;
}

.form-results__description-text {
  padding-left: 8px;
  font-size: 18px;
  font-weight: normal;
  line-height: 29px;
}
.form-results__description-text a {
  display: inline-block;
  width: max-content;
}

.form-results_description-text_participants {
  margin-bottom: 8px;
}
.form-results_description-text_participants .form-results_description-text__participants-item {
  width: 120px;
  margin: 0 20px;
  line-height: 24px;
  font-size: 18px;
  font-weight: normal;
  padding-left: 4px;
}

.popup_window_radio-container {
  text-align: left;
  padding: 10px 0 0 10px;
  height: 60px;
}
.popup_window_radio-container input {
  margin: 10px 15px 0 0;
}

.button-container-diagram {
  display: flex;
  gap: 9px;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .form-results {
    margin: 16px 40px;
    width: unset;
  }
  .form-results .form-results__title {
    font-size: 25px;
    margin: 30px 0 20px 0;
  }
  .form-results .button-container {
    align-items: center;
    margin-top: 16px;
    gap: 12px;
  }
  .form-results .button-container button {
    padding: 12px 5px;
    width: 160px;
    font-size: 13px;
  }
  .form-result__description {
    padding: 20px;
  }
  .form-result__description-title {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .form-result__description-text {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 12px;
  }
  .popup_window_radio-container {
    padding: 0 0 0 10px;
    height: auto;
  }
  .popup_window_radio-container input {
    margin: 10px 15px 0 0;
  }
}
@media screen and (max-width: 480px) {
  .form-results {
    margin: 16px auto;
    width: 90%;
  }
  .form-results .form-results__title {
    font-size: 25px;
    margin: 20px 0;
  }
  .form-results .button-container {
    align-items: center;
    gap: 12px;
  }
  .form-results .button-container button {
    padding: 10px 5px;
    width: 160px;
  }
  .form-results__description {
    padding: 18px;
  }
  .form-results__description-title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .form-results__description-text {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 8px;
  }
  .button-container-diagram {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .form-results {
    margin: 32px auto;
    width: 820px;
  }
  .form-results .button-container button {
    width: 200px;
  }
}
.index {
  margin: 45px auto;
}
.index h3 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.index_content-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.index_content-container .index_content-container_description__picture {
  padding: 20px;
  max-width: 600px;
  max-height: 350px;
  object-fit: cover;
}

.index_content-container_description {
  box-shadow: 0 4px 4px 0 rgba(34, 60, 80, 0.2);
  border-radius: 16px;
  padding: 25px;
  margin-left: 40px;
  font-size: 24px;
  text-align: left;
  max-width: 440px;
  background-color: #FFFFFF;
}
.index_content-container_description .button-container {
  margin: 48px 0 25px 0;
}
.index_content-container_description .button-container button {
  font-size: 18px;
  width: 300px;
  padding: 15px 12px;
}
.index_content-container_description a {
  font-size: 20px;
  color: #424242;
}
.index_content-container_description a span {
  height: 24px;
  color: #6e51a4;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .index_content-container {
    flex-wrap: wrap;
  }
  .index_content-container_description__picture {
    max-width: none;
    width: 80%;
    margin: 0 100px;
  }
  .index_content-container_description {
    padding: 20px;
    margin: 0 40px 0 40px;
    max-width: none;
    text-align: left;
  }
  .index_content-container_description .button-container {
    display: block;
  }
  .index_content-container_description .button-container button {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .index {
    margin-top: 60px;
  }
  .index h3 {
    font-size: 32px;
    margin: 0 40px 30px 40px;
  }
  .index_content-container_description {
    margin: 0 40px 20px 40px;
    font-size: 20px;
    padding: 20px;
    text-align: left;
  }
  .index_content-container_description .button-container {
    display: block;
    margin: 30px 0 20px 0;
  }
  .index_content-container_description .button-container button {
    padding: 10px 5px;
    font-size: 16px;
    width: 250px;
  }
  .index_content-container_description a {
    font-size: 18px;
  }
  .index_content-container_description__picture {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .index_content-container_description {
    margin: 0 18px 0 18px;
    padding: 15px;
    text-align: left;
  }
  .index_content-container_description .button-container {
    display: block;
    margin: 32px 0 16px 0;
  }
  .index_content-container_description .button-container button {
    padding: 10px;
    width: 250px;
  }
  .index_content-container_description__picture {
    width: 100%;
  }
}
.auth-container {
  margin: 50px 0;
  position: fixed;
  top: 120px;
  width: 100%;
}

.auth-container__form {
  box-shadow: 0 4px 4px 0 rgba(34, 60, 80, 0.2);
  border-radius: 16px;
  background-color: #FFFFFF;
  text-align: center;
  width: 320px;
  margin: 0 auto;
}
.auth-container__form h3 {
  font-size: 24px;
  margin-bottom: 4px;
  margin-top: 6px;
}

.login-form {
  padding-top: 17px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  margin: 20px 24px;
}
.login-form .button-container {
  margin-top: 20px;
}
.login-form .button-container button {
  font-size: 13px;
}

.login-form_container__input {
  height: 40px;
  width: 272px;
  margin: 0 0 9px 0;
  border-radius: 9px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 12px;
  box-sizing: border-box;
  font-size: 20px;
}

.login-form_container__input-container {
  display: flex;
}

.login-form_container__input-show-button {
  color: #000000;
  margin-left: -32px;
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .auth-container {
    margin: 70px 0;
  }
  .auth-container__form {
    padding: 5px;
  }
  .login-form_container h3 {
    font-size: 22px;
    margin: 0;
  }
  .login-form_container button {
    font-size: 14px;
  }
  .login-form_container__input {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .auth-container {
    top: 100px;
  }
  .auth-container__form {
    border: none;
    margin: 0 20px;
    width: initial;
  }
  .login-form {
    padding-bottom: 0;
    padding-top: 0;
    margin: 10px 15px;
  }
  .login-form_container h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .login-form_container .login-form_container__input {
    width: 100%;
    font-size: 18px;
  }
  .login-form_container .button-container {
    gap: 10px;
    flex-flow: column;
  }
}
.signup-form {
  display: flex;
  flex-direction: column;
  margin: 20px 24px 0 24px;
}
.signup-form h3 {
  margin-top: 18px;
}
.signup-form .button-container {
  margin: 25px 24px;
  font-size: 15px;
}
.signup-form .button-container button {
  font-size: 13px;
}

.signup-form_container__input-container {
  display: flex;
}

.signup-form_container__input {
  height: 40px;
  width: 272px;
  margin: 0 0 9px 0;
  border-radius: 9px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 12px;
  box-sizing: border-box;
  font-size: 20px;
}

.signup-form_container__input-show-button {
  color: #000000;
  margin-left: -32px;
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .signup-form {
    margin: 10px 15px;
  }
  .signup-form_container h3 {
    font-size: 22px;
    margin: 0;
  }
  .signup-form_container button {
    font-size: 14px;
  }
  .signup-form_container__input {
    width: 100%;
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .signup-form {
    margin: 10px 15px;
  }
  .signup-form_container h3 {
    font-size: 25px;
  }
  .signup-form_container .button-container {
    margin: 20px 0;
  }
  .signup-form_container .signup-form_container__input {
    width: 100%;
    font-size: 18px;
  }
}
.error-container, .success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.success-container {
  background-color: #e9ffe9;
  border: 1px solid #d4f1d4;
}

.error-container {
  background-color: #fde9e9;
  border: 1px solid #eaa7a7;
  color: #ea6767;
}

@media screen {
  .success-container, .error-container {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }
}
@media screen and (min-width: 480px) {
  .success-container, .error-container {
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .success-container, .error-container {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  }
}
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
}

p, h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}

#navbar, #popup {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

#navbar {
  background-color: #4B357A;
  height: 62px;
}

#root {
  position: relative;
}

#message-box {
  position: fixed;
  z-index: 10;
  width: 100%;
}

body {
  background-color: #F1F1F1;
}

@media screen {
  #message-box, #root {
    top: 62px;
  }
  #root {
    margin-top: 45px;
  }
}
@media screen and (min-width: 480px) {
  #message-box, #root {
    top: 62px;
  }
  #navbar {
    height: 62px;
  }
}
@media screen and (min-width: 768px) {
  #message-box {
    position: relative;
  }
  #message-box, #root {
    top: 70px;
  }
  #root {
    margin-top: 50px;
  }
  #navbar {
    height: 70px;
  }
}
#footer {
  position: relative;
  height: 100px;
  top: 80px;
  z-index: -1;
}

/*# sourceMappingURL=index.css.map */
