@import './components/Navbar/navbar.css';
@import './components/ProfileMenu/profileMenu.css';
@import './components/pages/Forms/forms.css';
@import './components/FormsItem/forms_item.css';
@import './components/pages/Form/form.css';
@import './components/Buttons/buttons.css';
@import './components/pages/Login/login.css';
@import './components/pages/Signup/signup.css';
@import './components/Message/message.css';

* {
    padding: 0;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
}

