<div class="forms_list-container">
    <div class="forms_title-container">
        <h3>Мои опросы</h3>
        <div class="forms_title-container_button-container">
<!--            <button class="primary-button" id="forms-list-sort-button">⇅</button>-->
            <button class="secondary-button" id="forms-list-add-button">+</button>
        </div>
    </div>
    <div class="forms_search-container">
        <input class="forms_search-container__input" placeholder="Поиск" maxlength="64">
        <button class="forms_search-container__button" id="forms-list-search-button">Найти</button>
    </div>
    <div class="forms__loading-screen display-invisible">
        <img src="../../../resources/images/loading.webp" alt="">
    </div>
    <div class="forms_list_main-container" id="forms-container">

    </div>
</div>