.forms_list-container {
  margin: 32px 80px 0 80px;
  min-width: 185px;
}

.forms_title-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  text-align: center;
  align-items: center;
  min-height: max-content;
  margin-bottom: 16px;
}
.forms_title-container h3 {
  position: absolute;
  z-index: -1;
  font-size: 29px;
  width: 100%;
  min-width: max-content;
  top: 0;
}

.forms_title-container_button-container {
  display: flex;
  align-items: center;
}
.forms_title-container_button-container button {
  width: 48px;
  height: 40px;
  padding: 0;
  margin-right: 12px;
}
.forms_title-container_button-container button.secondary-button {
  font-size: 26px;
  font-weight: lighter;
  padding-bottom: 4px;
}

.forms_search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: fit-content;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(34, 60, 80, 0.2);
}
.forms_search-container .forms_search-container__input {
  border-radius: 9px 0 0 9px;
  height: 36px;
  width: 560px;
  font-size: 20px;
  padding: 3px 16px;
}
.forms_search-container .forms_search-container__button {
  background-image: url("https://cdn-icons-png.flaticon.com/128/2414/2414255.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 30px;
  border-radius: 0 9px 9px 0;
  border: none;
  margin-left: -2px;
  height: 44px;
  width: 105px;
  font-size: 16px;
}
.forms_search-container .forms_search-container__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.forms__loading-screen {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 225px;
  left: 0;
  background-color: rgba(241, 241, 241, 0.6);
  transition: visibility 0.3s, opacity 0.5s;
}
.forms__loading-screen img {
  width: 48px;
  height: 48px;
  margin: 120px auto;
}

.forms_list_main-container {
  width: 1515px;
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: flex-start;
}

@media (max-width: 1675px) {
  .forms_list_main-container {
    width: 1130px;
  }
}
@media (max-width: 1305px) {
  .forms_list_main-container {
    width: 745px;
  }
}
@media (max-width: 920px) {
  .forms-list__item {
    width: 280px;
  }
  .forms_list_main-container {
    width: 585px;
  }
}
@media (max-width: 660px) {
  .forms-list__item {
    width: 100%;
  }
  .forms_list_main-container {
    width: 100%;
  }
}
.forms_list_main-container_empty-label {
  margin-top: 16px;
  text-align: center;
  font-size: 24px;
  width: 100%;
}

.forms_list_main-container_create-new-label {
  margin-top: 12px;
  text-align: center;
  font-size: 24px;
  color: #6e51a4;
  cursor: pointer;
  width: 100%;
}

.display-invisible {
  visibility: hidden;
  opacity: 0;
}

.display-none {
  display: none;
}

@media screen and (max-width: 480px) {
  .forms_list-container {
    margin: 32px 28px;
  }
  .forms_search-container .forms_search-container__input {
    min-width: 210px;
  }
}
@media screen and (max-width: 768px) {
  .forms_list-container {
    margin: 32px 40px;
  }
  .forms_title-container {
    margin-bottom: 15px;
  }
  .forms_title-container h3 {
    font-size: 26px;
  }
  .forms_title-container_button-container button {
    width: 40px;
    height: 36px;
    font-size: 24px;
  }
  .forms_search-container {
    margin-bottom: 30px;
  }
  .forms_search-container .forms_search-container__button {
    content-visibility: hidden;
    width: 45px;
  }
  .forms__loading-screen {
    top: 230px;
  }
  .forms__loading-screen img {
    width: 40px;
    height: 40px;
    margin: 160px auto;
  }
}
@media screen and (max-width: 480px) {
  .forms_list-container {
    margin: 32px 15px;
  }
  .forms_search-container .forms_search-container__input {
    min-width: 210px;
  }
}

/*# sourceMappingURL=forms.css.map */
