<div class="index">
    <h3>Добро пожаловать на Formhub!</h3>
    <div class="index_content-container">
        <div class="index_content-container_description">
            Проект "FormHub" - это онлайн опросник, который предоставляет возможность пользователям создавать и проводить опросы,<br>
            собирать данные и анализировать результаты. Для начала работы войдите в аккаунт или создайте его.
            <div class="button-container">
                <button class="secondary-button" id="index-forms-button">Опробовать FormHub</button>
            </div>
            <a>Нет аккаунта?  <span id="index-signup-button">Зарегистрируйтесь бесплатно</span></a>
        </div>
        <img class="index_content-container_description__picture" src="../../../resources/images/preview.webp" alt="">
    </div>
</div>