<div class="index-container">
    <h3>Добро пожаловать на Formhub!</h3>
    <div class="index-container_description">
        Проект "FormHub" - это онлайн опросник, который предоставляет возможность пользователям создавать и проводить опросы,<br>
        собирать данные и анализировать результаты. Для начала работы войдите в аккаунт или создайте его.
    </div>
</div>