.update-profile_main-container__picture {
  height: 220px;
  width: 220px;
  object-fit: contain;
  border-radius: 110px;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.3);
  background-color: #ffffff;
}

.update-profile_img-container_avatar-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  margin: 20px 0 15px 0;
}
.update-profile_img-container_avatar-container label {
  border-radius: 9px;
  width: 135px;
  background-color: #FFFFFF;
  border: 1px solid rgba(66, 66, 66, 0.25);
  box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0.2);
  display: inline-block;
  padding: 5px 9px 6px 15px;
  font-size: 18px;
  cursor: pointer;
}
.update-profile_img-container_avatar-container label .update-profile_img-container_avatar-container__input {
  display: none;
}
.update-profile_img-container_avatar-container #update-profile-avatar-cancel {
  font-size: 30px;
  color: #da2d28;
  margin: 0;
  cursor: pointer;
}

.update-profile__name-input-container {
  margin-top: 20px;
  width: 85%;
  display: flex;
  flex-flow: column;
  justify-content: left;
  text-align: left;
}
.update-profile__name-input-container label {
  font-size: 18px;
  margin: 0 0 8px 20px;
}
.update-profile__name-input-container .update-profile_input-container__input {
  height: 24px;
  margin-bottom: 8px;
  padding: 6px 8px;
  font-size: 18px;
  border-radius: 9px;
  border: 1px solid rgba(66, 66, 66, 0.25);
  box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0.2);
}

.update-profile_right-container {
  display: flex;
  flex-flow: column;
  line-height: 24px;
  justify-content: left;
  padding: 20px 50px;
  width: 450px;
  text-align: left;
}
.update-profile_right-container h3 {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 30px;
}
.update-profile_right-container .button-container {
  gap: 12px;
  margin-top: 35px;
}
.update-profile_right-container .button-container button {
  width: 200px;
  font-size: 15px;
  font-weight: bold;
}

.update-profile__input-container {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
}
.update-profile__input-container label {
  display: inline-flex;
  width: 185px;
  font-size: 18px;
  align-self: center;
  margin-bottom: 8px;
}
.update-profile__input-container .update-profile_input-container__input {
  width: 230px;
  height: 24px;
  margin-left: 8px;
  margin-bottom: 8px;
  padding: 6px 8px;
  font-size: 18px;
  border-radius: 9px;
  border: 1px solid rgba(66, 66, 66, 0.25);
  box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0.2);
}

.update-profile-form_container__input-show-button {
  color: #000000;
  margin-left: -32px;
  margin-top: 8px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .update-profile_right-container {
    width: 390px;
    padding: 20px 0 20px 30px;
  }
  .update-profile__input-container label {
    width: 150px;
  }
  .update-profile__input-container .update-profile_input-container__input {
    width: 205px;
  }
}
@media screen and (max-width: 768px) {
  .update-profile_right-container {
    background-color: #ffffff;
    width: 90%;
    padding: 20px 40px 0 40px;
    margin-top: 10px;
  }
  .update-profile_right-container h3 {
    font-size: 30px;
  }
  .update-profile__input-container {
    height: unset;
  }
  .update-profile__input-container label {
    width: 200px;
  }
  .update-profile__input-container .update-profile_input-container__input {
    width: 350px;
  }
}
@media screen and (max-width: 480px) {
  .update-profile_right-container {
    width: 85%;
  }
  .update-profile_right-container h3 {
    text-align: center;
    font-size: 26px;
  }
  .update-profile_right-container .button-container {
    gap: 6px;
    margin-top: 35px;
    flex-wrap: wrap;
  }
  .update-profile_right-container .button-container button {
    width: 48%;
    min-width: 120px;
    font-size: 14px;
  }
  .update-profile__input-container .update-profile_input-container__input {
    width: 90%;
  }
  .update-profile__name-input-container {
    width: 90%;
  }
}

/*# sourceMappingURL=update_profile.css.map */
