.profile-title {
  margin: 25px 50px;
  text-align: center;
  font-size: 30px;
}

.update-profile {
  background-color: rgba(75, 53, 122, 0.6);
  margin: 0 auto;
  width: 1020px;
  border-radius: 12px;
}

.update-profile_main-container {
  display: flex;
  padding: 35px 0 35px 45px;

  .update-profile_main-container__picture {
    height: 250px;
    width: 250px;
    min-width: 180px;
    object-fit: contain;
    border-radius: 12px;
    margin-bottom: 12px;
  }
}

.update-profile_main-container_img-container {
  justify-content: left;
}

.update-profile_main-container_name-container {
  display: flex;
  flex-flow: column;
  color: #FFFFFF;
  margin: 15px 0 0 40px;
  line-height: 30px;
  justify-content: right;

  label {
    display: inline-flex;
    width: 230px;
    font-size: 25px;
  }

  .update-form__title-input {
    width: 363px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 8px 10px;
    font-size: 25px;
    background-color: #ffffff;
    border: 2px solid #424242;
    border-radius: 12px;
  }
}

.update-profile_button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: left;
  padding: 0 0 40px 45px;

  button {
    width: max-content;
    min-width: 190px;
    font-size: 20px;
    font-weight: bold;
  }
  .primary-button:hover {
    opacity: 1;
    color: #696969;
    border-color: #696969;
  }
  .secondary-button:hover {
    opacity: 1;
    background-color: #6e51a4;
    border-color: #696969;
  }
}

.update-profile_img-container_avatar-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin: 10px 10px 30px 15px;
  a {
    font-size: 25px;
    margin-right: 40px;
  }
  label {
    border-radius: 12px;
    width: 170px;
    background-color: #FFFFFF;
    border: 2px solid #424242;
    display: inline-block;
    padding: 6px 12px 8px 12px;
    font-size: 22px;
    cursor: pointer;
    .update-profile_img-container_avatar-container__input {
      display: none;
    }
  }
  #update-profile-avatar-cancel {
    font-size: 18px;
    margin: 0;
    cursor: pointer;
  }
}

.update-profile-form_container__input-container {
  display: flex;
}

.update-profile-form_container__input {
  height: 48px;
  margin: 0 0 12px 0;
  border-radius: 12px;
  border: 2px solid #424242;
  padding: 7px 15px;
  box-sizing: border-box;
  font-size: 25px;
}

.update-profile-form_container__input-show-button {
  color: #000000;
  margin-left: -40px;
  margin-top: 13px;
  cursor: pointer;
}