<div class="form-wrapper">
    <h3 id="form-title">Form title here</h3>
    <div class="description" id="description">
        <h3>Описание опроса</h3>
    </div>
    <div class="question-container"></div>
</div>