.check-question {
  //margin-top: 15px;
  //padding: 10px 12px;
  border-radius: 9px;
  border: 1px solid #424242;

  .button-container {
    button {
      font-size: 15px;
      font-weight: normal;
      padding: 6px;
    }
  }
}

.check-question__description-title {
  padding-left: 4px;
  font-size: 18px;
  margin-bottom: 8px;
  text-align: left;
}

.check-question__required-title {
  color: #da2d28;
  padding-left: 8px;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 8px;
  text-align: left;
}

.check-question__description-text {
  padding-left: 8px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 12px;
  text-align: left;
}

.check-question__answer-title {
  padding-left: 4px;
  margin-bottom: 8px;
  text-align: left;
}

.check-question__answer-item {
  margin-bottom: 8px;
  text-align: left;

  .check-question__answer-item-label {
    font-size: 16px;
    font-weight: normal;
  }

  .check-question__answer-item-checkbox {
    width: 15px;
    height: 15px;
    border: 1.5px solid #1E2534;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }

  .check-question__answer-item-radio {
    width: 15px;
    height: 15px;
    border: 1.5px solid #1E2534;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }

  .check-question__answers-item-textarea {
    font-size: 16px;
    height: 95px;
    resize: none;
    background-color: #d5ceec;
    border-radius: 6px;
  }
}

.button-container {
  margin-top: 15px;
}

@media screen and (min-width: 769px) {
  .check-question {
    margin-top: 15px;
    padding: 10px 12px;
  }

  .check-question__answers-item-textarea {
    width: 590px;
    padding: 8px 12px;
  }

  .check-question__answer-item {
    padding: 5px 12px;
  }
}

@media screen and (max-width: 768px) {
  .check-question {
    margin-top: 12px;
    padding: 5px 12px;
  }

  .check-question__answers-item-textarea {
    width: 95%;
    padding: 8px 12px;
  }

  .check-question__answer-item {
    padding: 5px 8px;
  }
}

@media screen and (max-width: 480px) {
  .check-question {
    margin-top: 10px;
    padding: 5px 8px;
  }

  .check-question__answer-item {
    padding: 5px 12px;
    margin: 0 auto;
  }

  .check-question__answers-item-textarea {
    width: 90%;
    padding: 5px 12px;
    margin: 0 auto;
  }
}
