<div class="navbar-profile-menu">
    <button class="primary-button" id="navbar-menu-profile-button">Профиль</button>
    <button class="primary-button" id="navbar-menu-forms-button">Мои опросы</button>
<!--    <button class="primary-button" id="navbar-menu-history-button">История прохождения</button>-->
<!--    <button class="primary-button" id="navbar-menu-settings-button">Настройки</button>-->
    <div class="navbar-profile-menu-separator"></div>
    <button class="primary-button" id="navbar-menu-logout-button">Выйти</button>
</div>

