{{#if form}}
    <div class="forms-pass-list__item" id="forms-pass-list-item">
        <h3 class="forms-list_item__title">{{form.title}}</h3>
        <p class="forms-list_item__description">
            Пройден:&nbsp;{{form.finished_at}}
        </p>
    </div>
{{/if}}
