.button-container {
  display: flex;
  gap: 5px;
}

button {
  font-size: 12px;
}

input {
  border: 1px solid #424242;
}

%button-common {
  padding: 10px 12px;
  border-radius: 9px;
  border: 1px solid #424242;
  width: 100%;
  font-weight: bold;

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

.secondary-button {
  @extend %button-common;
  background-color: #4B357A;
  color: white;
}

.primary-button {
  @extend %button-common;
  background-color: #f5f5f5;
  color: black;
}

.black-button {
  @extend %button-common;
  background-color: #000000;
  color: white;
  border-radius: 9px;
}

.red-button {
  @extend %button-common;
  background-color: #da2d28;
  color: white;
  border-radius: 9px;
}

.usual-button {
  @extend %button-common;
  border: none;
  background-color: #FFFFFF;
  color: #4B357A;
  border-radius: 9px;
}

.button__disabled {
  opacity: 0.6;
}

//@media screen {
//  button {
//    &:hover {
//      opacity: 1 !important;
//    }
//  }
//}