.list-item {
    background-color: #FFFFFF;
    padding: 13px 12px;
    color: black;
    border-radius: 12px;
    border: 3px solid #424242;
    margin: 15px 10%;
    width: 80%;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
}