{{#if form}}
    <div class="forms-list__item" id="forms-list-item">
        <div class="forms-list_item__hat"></div>
        <div class="forms-list_item__content">
            <h3 class="forms-list_item__title">{{form.title}}</h3>
            <p class="forms-list_item__description">
                Прохождений:  &nbsp;&nbsp;{{form.number_of_passages}} <br>
                Создан:  &nbsp;{{form.created_at}}
            </p>
        </div>
        <span class="material-symbols-outlined" id="forms-list-item-menu-button">more_vert</span>
        <div class="forms-list_item__select-menu display-invisible">
            <button class="primary-button forms-list_item_select-menu__button" id="forms-list-item-button-edit">
                <span class="material-symbols-outlined">edit</span>
                Изменить
            </button>
            <button class="primary-button forms-list_item_select-menu__button" id="forms-list-item-button-delete">
                <span class="material-symbols-outlined">delete</span>
                Удалить
            </button>
            <button class="primary-button forms-list_item_select-menu__button" id="forms-list-item-button-open-new">
                <span class="material-symbols-outlined">open_in_new</span>
                Открыть в другом окне
            </button>
        </div>
    </div>
{{/if}}
