.update-question {
  background-color: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  ::placeholder {
    color: rgba(187, 187, 187, 1);
  }
}

.update-question__title-container {
  display: flex;
  justify-content: space-between;

  .update-question__title-input {
    border: none;
    outline: none;
  }

  .update-question__title-input:hover {
    background-color: #F1F1F1;
  }

  .update-question__select {
    font-weight: 600;
  }

  .update-question__select:hover {
    background-color: #a9a9a9;
  }
}

.update-question__description-textarea {
  font-size: 16px;
  height: 60px;
  resize: none;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.update-question__description-textarea:hover {
  background-color: #F1F1F1;
}


.update-question__answers-item {
  margin-bottom: 8px;
}

.update-question__answer-format {
  text-align: left;
  margin-bottom: 8px;
  flex-wrap: wrap;
  .update-question__answer-format-radio {
    width: 12px;
    height: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }

  .update-question__answer-format-label {
    font-size: 16px;
    font-weight: normal;
    padding-right: 20px;
  }
}

.update-question__button-container {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 16px;

  button {
    width: 200px;
  }

  .update-question__required-container {
    gap: 4px;
    display: flex;
    align-items: center;
  }

  .update-question__required-container:hover {
    background-color: #a9a9a9;
  }

  .material-symbols-outlined {
    font-size: 20px;
    color: #B42525;
  }

  .update-question__question-delete {
    cursor: pointer;
  }

  .update-question_button-container__required-checkbox {
    width: 12px;
    height: 12px;
  }

  .update-question_button-container__required-label {
    font-size: 16px;
    margin-left: 6px;
  }
}


@media screen and (min-width: 769px) {
  .update-question {
    margin-top: 32px;
    padding: 24px;
  }

  .update-question__title-input {
    width: 550px;
    font-size: 20px;
  }

  .update-question__select {
    position: relative;
  }

  .update-question__select select {
    appearance: none;
    font-size: 18px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .update-question__select_custom-arrow {
    width: 20px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none;
  }

  .custom-arrow-show {
    transform: rotate(180deg);
  }

  .update-question__description-textarea {
    margin-top: 16px;
    font-size: 16px;
    padding: 8px 8px;
    width: 846px;
  }
}

@media screen and (max-width: 768px) {
  .update-question {
    margin-top: 8px;
    padding: 8px 8px;
  }

  .update-question__title-container {
    .update-question__description-title {
      margin-bottom: 8px;
    }
    .update-question__select {
      margin-left: 10px;
    }
  }

  .update-question__title-input {
    padding: 8px 8px;
    margin: 0 auto 8px;
    width: 95%;
  }

  .update-question__button-container {

    .update-question_button-container__required-checkbox {
      margin-left: 8px;
    }
  }
  .update-question__description-textarea {
    padding: 5px 8px;
    margin: 0 auto 8px;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  .update-question {
    margin-top: 8px;
    padding: 8px 8px;
  }
  .update-question__title-container {
    .update-question__description-title {
      margin-bottom: 8px;
    }
  }

  .update-question__title-input {
    padding: 8px 12px;
    margin-bottom: 8px;
    width: 90%;
  }

  .update-question__button-container {
    flex-wrap: wrap;

    .primary-button {
      width: 160px;
    }
    .update-question_button-container__required-checkbox {
      margin: 0 4px 0 8px;
      width: 20px;
      height: 20px;
    }
  }
  .update-question__description-textarea {
    padding: 5px 12px;
    width: 90%;
  }
}