.update-question {
  background-color: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0 4px 4px 0 rgba(34, 60, 80, 0.2);
  ::placeholder {
    color: rgba(187, 187, 187, 1);
  }
}

.update-question__title-container {
  display: flex;
  justify-content: space-between;

  .update-question__title-input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    padding: 8px 12px;
    outline: none;
  }

  .update-question__title-input:hover {
    background-color: #F1F1F1;
  }

  .update-question__select {
    font-weight: 600;
    align-items: center;
    display: flex;
    margin-left: 5px;
  }

}

.update-question__description-textarea {
  font-size: 16px;
  height: 60px;
  resize: none;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.update-question__description-textarea:hover {
  background-color: #F1F1F1;
}


.update-question__answers-item {
  margin-bottom: 8px;
}

.update-question__answer-format {
  text-align: left;
  margin-bottom: 8px;
  flex-wrap: wrap;
  .update-question__answer-format-radio {
    width: 12px;
    height: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }

  .update-question__answer-format-label {
    font-size: 16px;
    font-weight: normal;
    padding-right: 20px;
  }
}

.update-question__button-container {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 16px;

  button {
    width: 200px;
  }

  .update-question__required-container {
    gap: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .material-symbols-outlined {
    font-size: 20px;
    color: #B42525;
  }

  .update-question__question-delete {
    cursor: pointer;
  }
}

.update-question__select {
  position: relative;
}

.update-question__select select {
  width: 240px;
  appearance: none;
  background-color: #FFFFFF;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.update-question__select_custom-arrow {
  display: block;
  position: absolute;
  top: 10px;
  left: 210px;
  overflow: hidden;
  pointer-events: none;
}


@media screen and (min-width: 769px) {
  .update-question {
    margin-top: 32px;
    padding: 24px;
  }

  .update-question__title-input {
    width: 550px;
    font-size: 20px;
  }

  .update-question__select select {
    font-size: 18px;
  }

  .update-question__description-textarea {
    margin-top: 16px;
    font-size: 16px;
    padding: 8px 8px;
    width: 846px;
  }

  .update-question_button-container__required-checkbox {
    width: 12px;
    height: 12px;
    cursor: pointer;
  }

  .update-question_button-container__required-label {
    font-size: 16px;
    margin-left: 6px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1000px) {
  .update-question {
    margin-top: 16px;
    padding: 24px;
  }

  .update-question__title-container {
    display: block;
    padding: 0;
    .update-question__title-input {
      width: 97%;
    }
  }

  .update-question__title-input {
    padding: 0;
  }

  .update-question__title-container .update-question__select {
    margin-top: 8px;
  }

  .update-question__select_custom-arrow {
    top: 2px;
  }

  .update-question_button-container__required-label {
    font-size: 13px;
    margin-left: 6px;
  }

  .update-question__button-container {
    margin-top: 16px;
    gap: 12px
  }

  .update-question__description-textarea {
    font-size: 16px;
    padding: 5px 8px;
    margin-top: 12px;
    height: 90px;
    width: 98%;
  }
}

@media screen and (max-width: 768px) {
  .update-question {
    margin-top: 16px;
    padding: 18px;
  }

  .update-question__title-container {
    display: block;
    padding: 0;
    .update-question__title-input {
      width: 94%;
    }
  }

  .update-question__title-input {
    padding: 0;
  }

  .update-question__title-container .update-question__select {
    margin-top: 8px;
  }

  .update-question__select select {
    width: 180px;
  }

  .update-question__select_custom-arrow {
    left: 157px;
    font-size: 20px;
  }

  .update-question_button-container__required-checkbox {
    width: 12px;
    height: 12px;
  }

  .update-question_button-container__required-label {
    font-size: 13px;
    margin-left: 3px;
  }

  .update-question__button-container {
    margin-top: 16px;
    gap: 8px
  }

  .update-question__description-textarea {
    font-size: 13px;
    padding: 5px 8px;
    margin-top: 12px;
    width: 96%;
  }
}

@media screen and (max-width: 480px) {
  .update-question {
    margin-top: 16px;
    padding: 18px;
  }

  .update-question__title-container {
    display: block;
    padding: 0;
    .update-question__title-input {
      width: 92%;
    }
  }

  .update-question__title-input {
    padding: 0;
  }


  .update-question__title-container {
    margin-top: 6px;
  }

  .update-question__description-textarea {
    margin-top: 16px;
    height: 90px;
    font-size: 13px;
    width: 94%;
  }

  .update-question__button-container {
    margin-top: 16px;
    gap: 8px
  }

  .update-question_button-container__required-label {
    font-size: 13px;
    margin-left: 2px;
  }
}