{{#if question}}
    <div class="update-question">
        <div class="update-question__title-container">
            <h3 class="update-question__description-title">Текст вопроса</h3>
            <a class="update-question__question-delete" id="delete-question">❌</a>
        </div>
        <input class="update-question__title-input" id="update-question__title" value="{{question.title}}" maxlength="64">
        <textarea class="update-question__description-textarea" id="update-question__description-textarea" maxlength="512">{{question.description}}</textarea>
        <h3 class="update-question__answer-title">Формат ответа</h3>
        <div class="update-question__answer-format">
            <input class="update-question__answer-format-radio" id="update-question__answer-format-text" type="radio">
            <label class="update-question__answer-format-label" id="update-question__answer-format-text-label">Текст</label>
            <input class="update-question__answer-format-radio" id="update-question__answer-format-radio" type="radio">
            <label class="update-question__answer-format-label" id="update-question__answer-format-radio-label">Один вариант</label>
            <input class="update-question__answer-format-radio" id="update-question__answer-format-checkbox" type="radio">
            <label class="update-question__answer-format-label" id="update-question__answer-format-checkbox-label">Несколько вариантов</label>
        </div>
        <div class="update-question__answer" id="question-answers">
<!--            Answers will be here-->
        </div>
        <div class="update-question__button-container">
            <button class="primary-button" type="submit" id="add-answer-button">Добавить ответ</button>
            <button class="red-button" type="submit" id="clear-answers-button">Очистить все</button>
        </div>
    </div>
{{/if}}
