.update-question {
  margin-top: 18px;
  padding: 13px 15px;
  border-radius: 12px;
  border: 2px solid #424242;
}

.update-question__description-title {
  padding-left: 5px;
  font-size: 22px;
  margin-bottom: 10px;
  text-align: left;
}

.update-question__description-textarea {
  font-size: 20px;
  width: 740px;
  height: 118px;
  background-color: #D8D3E2;
  border-radius: 8px;
  padding-left: 10px;
}

.update-question__answer-title {
  padding-left: 5px;
  font-size: 22px;
  margin-bottom: 10px;
  text-align: left;
}

.update-question__answers-item {
  padding-left: 10px;
  margin-bottom: 10px;
}

.update-question__answer-format {
  text-align: left;
  margin-bottom: 10px;
  margin-left: 10px;

  .update-question__answer-format-radio {
    width: 18px;
    height: 18px;
    border: 1.5px solid #1E2534;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }

  .update-question__answer-format-label {
    font-size: 20px;
    font-weight: normal;
    padding-left: 5px;
  }
}

.update-question__answers-title {
  padding-left: 5px;
  font-size: 22px;
  margin-bottom: 10px;
  text-align: left;
}

.update-question__answers-item {
  padding-left: 10px;
  margin-bottom: 10px;
}


.update-question__answers-item {
  text-align: left;
  border: none;
  margin: 0;
  font-size: 20px;

  .update-question__answers-item-input {
    font-size: 20px;
    font-weight: normal;
    padding-left: 5px;
    border: none;
    margin: 0;
  }

  .update-question__answers-item-checkbox {
    width: 18px;
    height: 18px;
    border: 1.5px solid #1E2534;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }

  .update-question__answers-item-radio {
    width: 18px;
    height: 18px;
    border: 1.5px solid #1E2534;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }
}

.button-container {
  margin-top: 18px;
}

