{{#if question}}
    <div class="update-question" id="{{question.id}}">
        <div class="update-question__title-container">
        <p class="check-question__required-title display-none" id="update-question-title-validation-error">Текст должен состоять из русских или английских слов, цифр и знаков препинания</p>
            <input class="update-question__title-input" id="update-question__title" placeholder="Вопрос" value="{{question.title}}" maxlength="64">
            <div class="update-question__select">
                <select id="standard-select">
                    <option class="update-question__answer-format-radio" id="update-question__answer-format-text-label">Один вариант
                    </option>
                    <option class="update-question__answer-format-radio" id="update-question__answer-format-text-label">Несколько вариантов
                    </option>
                    <option class="update-question__answer-format-radio" id="update-question__answer-format-text-label">Текст (aбзац)
                    </option>
                </select>
                <span class="update-question__select_custom-arrow material-symbols-outlined">expand_more</span>
            </div>
        </div>
        <textarea class="update-question__description-textarea" id="update-question__description-textarea" placeholder="Описание вопроса" maxlength="512">{{question.description}}</textarea>
        <div class="update-question__answer" id="question-answers">
<!--            Answers will be here-->
        </div>
        <div class="update-question__answers_add_button" id="update-question__answers_add_button">
            <input class="update-question__answers-item-checkbox" id="update-question__answers-item-button" type="checkbox" disabled></input>
            <input class="update-question__answers-add-input" id="update-question__answers-add-input" placeholder="Добавить ответ" type="text" readonly></input>
        </div>
        <div class="update-question__button-container">
            <span class="material-symbols-outlined update-question__question-delete" id="delete-question">delete</span>
            <div class="update-question__required-container">
                {{#ifEquals question.required true}}
                    <input class="update-question_button-container__required-checkbox" id="required-question-checkbox" type="checkbox" checked>
                {{/ifEquals}}
                {{#ifEquals question.required false}}
                    <input class="update-question_button-container__required-checkbox" id="required-question-checkbox" type="checkbox">
                {{/ifEquals}}
                <label class="update-question_button-container__required-label">Обязательный вопрос</label>
            </div>
        </div>
    </div>
{{/if}}
