<div class="profile-title"><h3>Профиль</h3></div>
<div class="profile-container">
    <div class="profile-main-container">
        <img class="profile-picture" src="../../../resources/images/profile_default.png" alt="">
        <div class="profile-name-container">
            <h3 id="profile-page-name">Имя Фамилия</h3>
            <a id="profile-page-username">username</a><br>
            <a id="profile-page-email">email@gmail.com</a>
        </div>
    </div>
    <div class="profile-button-container">
        <button class="secondary-button" id="profile-settings-button">Редактировать</button>
        <button class="primary-button" id="profile-forms-button">Мои опросы</button>
        <button class="primary-button" id="profile-history-button">История прохождения</button>
    </div>
</div>
