<div class="profile-background"></div>
<div class="profile">
    <div class="profile_main-container">
        <img class="profile_main-container__picture" id="profile-page-picture" src="../../../resources/images/profile_default.webp" alt="">
        <div class="profile_main-container_name-container">
            <h3 id="profile-page-name">{{user.first_name}}</h3>
            <div class="line"></div>
            <a id="profile-page-username">{{user.username}}</a><br>
            <a id="profile-page-email">{{user.email}}</a>
            {{#if user.birthday}}
                <br>
                <a id="profile-page-email">Дата рождения: {{user.birthday}}</a>
            {{/if}}
            <br>
            {{#ifEquals user.gender 'M'}}
                <a id="profile-page-email">Пол: Мужской</a>
            {{/ifEquals}}
            {{#ifEquals user.gender 'F'}}
                <a id="profile-page-email">Пол: Женский</a>
            {{/ifEquals}}
        </div>
    </div>
    <div class="profile_right-container">
        <h3> Профиль </h3>
        <p> Здесь можно посмотреть и изменить информацию о вас </p>
        <div class="button-container">
            <button class="secondary-button" id="profile-settings-button">Редактировать</button>
            <button class="primary-button" id="profile-forms-button">Мои опросы</button>
        </div>
    </div>
</div>
