.profile-title {
  margin: 20px 40px;
  text-align: center;
  font-size: 24px;
}

.profile {
  background-color: rgba(128, 102, 169, 0.6);
  margin: 0 auto;
  max-width: 800px;
  border-radius: 9px;
}

.profile_main-container {
  display: flex;
  justify-content: left;
  padding: 29px 0 29px 36px;

  .profile_main-container__picture {
    height: 200px;
    width: 200px;
    object-fit: contain;
    border-radius: 9px;
  }
}

.profile_main-container_name-container {
  color: #FFFFFF;
  margin: 12px 32px;
  line-height: 24px;
  h3 {
    font-size: 29px;
    margin-bottom: 16px;
  }
  a {
    font-size: 20px;
  }
}

.profile_button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: left;
  padding: 0 0 32px 36px;

  button {
    width: max-content;
    min-width: 180px;
    font-size: 16px;
    font-weight: bold;
  }
  .primary-button:hover {
    opacity: 1;
    color: #696969;
    border-color: #696969;
  }
  .secondary-button:hover {
    opacity: 1;
    background-color: #6e51a4;
    border-color: #696969;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    border-radius: 0;
  }
  .profile_main-container {
    .profile_main-container__picture {
      height: 120px;
      width: 120px;
    }
  }
}

@media screen and (max-width: 480px) {
  .profile-title {
    h3 {
      font-size: 22px;
    }
  }
  .profile_main-container {
    padding: 30px
  }
  .profile_main-container_name-container {
    margin: 10px 20px;
    h3 {
      font-size: 24px;
    }
    a {
      font-size: 18px;
    }
  }
  .profile_button-container {
    padding: 20px 0 24px 30px;
  }
}
