.profile-background {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 60%;
  background-color: #ffffff;
}

.profile {
  display: flex;
  margin: 80px auto;
  width: fit-content;
}

.profile_main-container {
  border-radius: 6px;
  background-color: #F8F8F8;
  box-shadow: 0 0 12px 0 rgba(34, 60, 80, 0.2);

  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 30px 0;
  width: 400px;

  .profile_main-container__picture {
    height: 220px;
    width: 220px;
    object-fit: contain;
    border-radius: 110px;
  }
}

.profile_main-container_name-container {
  color: #000000;
  margin: 20px;
  width: 300px;

  h3 {
    text-align: center;
    font-size: 32px;
  }
  .line {
    background-color: #7458b6;
    margin: 25px auto;
    width: 120px;
    height: 3px;
  }
  a {
    line-height: 32px;
    font-size: 22px;
  }
}

.profile_right-container {
  padding: 10px 50px;
  width: 450px;
  text-align: left;

  h3 {
    font-size: 42px;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
  }

  .button-container {
    gap: 12px;
    margin: 35px 0;

    button {
      width: 200px;
      min-width: 180px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}



//@media screen and (max-width: 768px) {
//  .profile {
//    border-radius: 0;
//  }
//  .profile_main-container {
//    .profile_main-container__picture {
//      height: 120px;
//      width: 120px;
//    }
//  }
//}
//
//@media screen and (max-width: 480px) {
//  .profile-title {
//    h3 {
//      font-size: 22px;
//    }
//  }
//  .profile_main-container {
//    padding: 30px
//  }
//  .profile_main-container_name-container {
//    margin: 10px 20px;
//    h3 {
//      font-size: 24px;
//    }
//    a {
//      font-size: 18px;
//    }
//  }
//  .profile_button-container {
//    padding: 20px 0 24px 30px;
//  }
//}
