<div class="profile-container">
    <div class="profile-main-container">
        <img class="profile_pic_big" src="../../resources/images/profile_default.png" alt="">
        <div class="profile-name-container">
            <h3>Имя Фамилия</h3>
            username
        </div>
    </div>
    <div class="profile-settings-container">
        <button class="primary-button" id="profile-settings-button">⚙  Настройки</button>
    </div>
</div>
<div class="profile-button-container">
    <button class="secondary-button" id="profile-create-button">Создать опрос</button>
    <button class="primary-button" id="profile-forms-button">Мои опросы</button>
    <button class="primary-button" id="profile-history-button">История прохождения</button>
</div>