.signup-form {
  display: flex;
  flex-direction: column;
  margin: 20px 24px 0 24px;

  .button-container {
    margin: 20px 24px;
    font-size: 15px;
  }
}

.signup-form_container__input-container {
  display: flex;
}


.signup-form_container__input {
  height: 40px;
  width: 272px;
  margin: 0 0 9px 0;
  border-radius: 9px;
  border: 1px solid #424242;
  padding: 4px 12px;
  box-sizing: border-box;
  font-size: 20px;
}

.signup-form_container__input-show-button {
  color: #000000;
  margin-left: -32px;
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .signup-form_container {
    h3 {
      font-size: 22px;
      margin: 0;
    }
    button {
      font-size: 14px;
    }
  }
  .signup-form_container__input {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .signup-form_container {
    h3 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    .signup-form_container__input {
      width: 100%;
      font-size: 18px;
    }
    .button-container {
      margin: 40px 0;
    }
  }
}
