<div class="form-container">
    <form>
        <div class="signup-form">
            <div class="main-сontainer">
                <h3>Регистрация</h3><br>
                <input placeholder="Имя" id="name" name="name" required><br>
                <input type="email" placeholder="Почта" id="email" name="email" required><br>
                <input placeholder="Имя пользователя" id="username" name="username" required><br>
                <input type="password" placeholder="Пароль" id="password" name="password" required>
                <input type="password" placeholder="Повторите пароль" id="repeat_password" name="repeat_password" required>
                <div class="signup_avatar">
                    <a>Аватар</a>
                    <label id="signup_avatar_input-label">
                        <input class="signup_avatar-input" type="file" id="avatar" name="avatar" multiple accept="image/*">
                        Загрузить
                    </label>
                    <a id="signup_avatar_cancel">❌</a>
                </div>
                <div class="button-container">
                    <button class="secondary-button"  id="signup-button">Создать аккаунт</button>
                </div>
            </div>
        </div>
    </form>
</div>