<div class="auth-container">
    <form class="auth-container__form">
        <div class="signup-form">
            <div class="signup-form_container">
                <h3>Регистрация</h3><br>
                <input class="login-form_container__input" placeholder="Имя" id="name" name="name" required><br>
                <input class="login-form_container__input" type="email" placeholder="Почта" id="email" name="email" required><br>
                <input class="login-form_container__input" placeholder="Имя пользователя" id="username" name="username" required><br>
                <input class="login-form_container__input" type="password" placeholder="Пароль" id="password" name="password" required>
                <input class="login-form_container__input" type="password" placeholder="Повторите пароль" id="repeat_password" name="repeat_password" required>
<!--                <div class="signup-form_container_avatar">-->
<!--                    <a>Аватар</a>-->
<!--                    <label id="signup-avatar-button">-->
<!--                            <input class="signup-form_container_avatar__input" type="file" id="avatar" name="avatar" accept="image/png, image/jpeg, image/jpg">-->
<!--                        Загрузить-->
<!--                    </label>-->
<!--                    <a id="signup-avatar-cancel">❌</a>-->
<!--                </div>-->
                <div class="button-container">
                    <button class="secondary-button"  id="signup-button">Создать аккаунт</button>
                </div>
            </div>
        </div>
    </form>
</div>