<div class="auth-container">
    <form class="auth-container__form">
        <div class="signup-form">
            <div class="signup-form_container">
                <h3>Регистрация</h3><br>
                <div class="signup-form_container__input-container">
                    <input class="signup-form_container__input" placeholder="Имя" id="name" name="name" required><br>
                </div>
                <div class="signup-form_container__input-container">
                    <input class="signup-form_container__input" type="email" placeholder="Почта" id="email" name="email" required><br>
                </div>
                <div class="signup-form_container__input-container">
                    <input class="signup-form_container__input" placeholder="Имя пользователя" id="username" name="username" required><br>
                </div>
                <div class="signup-form_container__input-container">
                    <input class="signup-form_container__input" type="password" placeholder="Пароль" id="password" name="password" required>
                    <i id="signup-form_container__input-show-button" class="signup-form_container__input-show-button" >
                        <span id="signup-form_container__input-show-button-icon" class="material-symbols-outlined">visibility</span>
                    </i>
                </div>
                <div class="signup-form_container__input-container">
                    <input class="signup-form_container__input" type="password" placeholder="Повторите пароль" id="repeat_password" name="repeat_password" required>
                    <i id="signup-form_container__input-show-rep-button" class="signup-form_container__input-show-button" >
                        <span id="signup-form_container__input-show-rep-button-icon" class="material-symbols-outlined">visibility</span>
                    </i>
                </div>
                <div class="button-container">
                    <button class="secondary-button"  id="signup-button">Создать аккаунт</button>
                </div>
            </div>
        </div>
    </form>
</div>