.update-form__title-input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  padding: 8px 12px;
  outline: none;
  width: 98%;
}

.update-form__title-input:hover {
  background-color: #F1F1F1;
}

.update-form__description {
  text-align: left;
  border: none;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  ::placeholder {
    color: rgba(187, 187, 187, 1);
  }
}

.update-form__description-textarea {
  margin-top: 10px;
  font-size: 16px;
  height: 90px;
  resize: none;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.update-question__question-delete {
  cursor: pointer;
}

#create-link-button {
  cursor: pointer;
}

.update-form__description-textarea:hover {
  background-color: #F1F1F1;
}

.update-form_anonymous__checkbox:hover, .update-form_anonymous__checkbox-label:hover {
  background-color: #a9a9a9;
}

.update-form__anonymous-warning-container {
  display: flex;
}

.update-form__max-passage-container {
  margin: 20px 0 10px 10px;

  .update-form_max-passage__input {
    width: 170px;
    margin-left: 12px;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.update-form__input-error {
  background-color: #fdc6c6 !important;
}

.update-form_add-question-button {
  background-color: #FFFFFF;
  border: none;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  color: rgba(0, 0, 0, 0.5);
}

.update-form_add-question-button:hover {
  background-color: #F6F6F6;
}

.update-form_add-question-button {
  align-items: center;
}

@media screen and (min-width: 769px) {
  .update-form {
    margin: 32px auto;
    width: 640px;

    .button-container {
      width: 440px;
      margin: 24px 0;
      gap: 12px;

      button {
        width: 200px;
        margin-bottom: 4px;
      }
    }
  }

  .update-form__title-input {
    font-size: 24px;
    width: 580px;
  }

  .update-form__description {
    padding: 20px;
  }

  .update-form__description-textarea {
    width: 580px;
    padding: 8px 12px;
    font-size: 18px;
  }

  .update-form_anonymous__checkbox-container {
    padding-left: 2px;
    margin-top: 16px;
  }

  .update-form_anonymous__checkbox {
    border-radius: 4px;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }

  .update-form_anonymous__checkbox-label {
    margin-left: 7px;
    font-size: 16px;
    cursor: pointer;
  }

  .update-form__anonymous-warning-container {
    margin-top: 8px;
    font-size: 16px;
    gap: 8px;
  }

  .check-form__anonymous-warning-icon {
    font-size: 13px;
  }

  .update-form_add-question-button {
    margin-top: 24px;
    align-items: center;
    font-size: 30px;
    height: 36px;
    width: 100%;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .update-form {
    margin: 16px 40px;
    //width: 80%;

    .button-container {
      width: 90%;
      gap: 8px;

      button {
        width: 180px;
        margin-bottom: 4px;
      }
    }
  }

  .update-form__title-input {
    font-size: 20px;
    width: 96%;
  }

  .update-form__description {
    padding: 18px;
  }

  .update-form__description-header {
    font-size: 20px;
  }

  .update-form__description-textarea {
    padding: 8px 12px;
    font-size: 18px;
    width: 96%;
  }

  .update-form_anonymous__checkbox-container {
    margin-top: 16px;
    font-size: 13px;
  }

  .update-form_anonymous__checkbox-label {
    margin-left: 12px;
    font-size: 14px;
  }

  .update-form__anonymous-warning-container {
    margin-top: 12px;
    font-size: 14px;
    gap: 10px;
  }

  .update-form__max-passage-container {
    font-size: 14px;

    .update-form_max-passage__input {
      width: 150px;
      font-size: 14px;
    }
  }

  .update-form_add-question-button {
    margin-top: 16px;
    font-size: 30px;
    height: 36px;
    width: 100%;
  }

}

@media screen and (max-width: 480px) {
  .update-form {
    margin: 16px auto;
    width: 90%;

    .button-container {
      width: 90%;
      gap: 8px;

      button {
        width: 140px;
        height: 42px;
        margin-bottom: 4px;
      }
    }
  }

  .update-form__title-input {
    font-size: 18px;
    width: 94%;
  }

  .update-form__description {
    padding: 18px;
  }

  .update-form__description-header {
    font-size: 16px;
  }

  .update-form__description-textarea {
    padding: 8px 12px;
    font-size: 16px;
    width: 94%;
  }

  .update-form_anonymous__checkbox-container {
    margin-top: 16px;
    font-size: 12px;
    gap: 10px
  }

  .update-form_anonymous__checkbox {
    border-radius: 4px;
    width: 11px;
    height: 11px;
    cursor: pointer;
  }

  .update-form_anonymous__checkbox-label {
    margin-left: 12px;
    font-size: 14px;
  }

  .update-form__anonymous-warning-container {
    margin-top: 8px;
    font-size: 14px;
    gap: 8px;
  }

  .update-form__max-passage-container {
    display: flex;
    flex-flow: column;
    gap: 8px;

    label {
      margin-left: 5px;
    }
    .update-form_max-passage__input {
      margin-left: 0;
    }
  }

  .update-form_add-question-button {
    margin-top: 16px;
    font-size: 30px;
    height: 36px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .update-form {
    margin: 32px auto;
    width: 820px;

    .update-form__title-input {
      width: 755px;
    }

    .update-form__description-textarea {
      width: 755px;
    }

    .button-container {
      button {
        width: 200px;
      }
    }
  }
}
