{{#if form}}
    <div class="update-form">
        <h3 class="update-form__title-label" id="update-form-title">Редактирование</h3>
        <div class="update-form__title">
            <h3 class="update-form__title-title">Название опроса</h3>
            <input class="update-form__title-input" id="update-form__title" placeholder="Заголовок опроса" value="{{form.title}}" maxlength="64">
        </div>
        <div class="update-form__description">
            <h3 class="update-form__description-title">Описание опроса</h3>
            <textarea class="update-form__description-textarea" id="update-form__description-textarea" maxlength="512"></textarea>
        </div>
        <div class="update-form_anonymous">
            <input class="update-form_anonymous__checkbox" id="update-form-anonymous-checkbox" type="checkbox">
            <label class="update-form_anonymous__checkbox-label" for="update-form-anonymous-checkbox">Анонимный опрос</label>
            <p class="check-form__anonymous-warning">⚠️ &nbsp;Включив анонимный опрос вы не сможете получать информацию о участниках опроса</p>
        </div>
        <div class="update-form__questions-container" id="check-form__questions-container"></div>
        <div class="button-container">
            <button class="secondary-button" type="submit" id="update-button">Cохранить</button>
            <button class="primary-button" type="submit" id="add-button">Добавить вопрос</button>
            <button class="red-button" type="submit" id="delete-button">Удалить опрос</button>
        </div>
    </div>
{{/if}}