.update-form__title-input {
  border: none;
  cursor: pointer;
}

.update-form__description {
  text-align: left;
  border: none;
  background-color: #FFFFFF;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  ::placeholder {
    color: rgba(187, 187, 187, 1);
  }
}

.update-form__description-textarea {
  margin-top: 16px;
  font-size: 16px;
  height: 90px;
  resize: none;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.update-form_anonymous__checkbox-container {
  display: flex;
  align-items: center
}


.check-form__anonymous-warning-container {
  display: flex;
}

.update-form__input-error {
  background-color: #fdc6c6 !important;
}

@media screen and (min-width: 769px) {
  .update-form {
    margin: 0 auto;
    width: 910px;

    .button-container {
      width: 440px;
      margin: 24px 16px;
      gap: 12px;

      button {
        width: 200px;
        margin-bottom: 4px;
      }
    }
  }

  .update-form__title-input {
    font-size: 24px;
    width: 331px;
  }

  .update-form__description-textarea {
    width: 846px;
    padding: 7px;
    font-size: 18px;
  }

  .update-form_anonymous__checkbox-container {
    margin-top: 16px;
    gap: 8px;
  }

  .update-form_anonymous__checkbox {
    border-radius: 4px;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }


  .update-form_anonymous__checkbox-label {
    font-size: 12px;
  }

  .check-form__anonymous-warning-container {
    margin-top: 8px;
    font-size: 12px;
    gap: 8px;
  }

  .check-form__anonymous-warning-icon {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .update-form {
    margin: 16px auto;
    width: 90%;

    .button-container {
      width: 90%;
      gap: 8px;

      button {
        width: 180px;
        margin-bottom: 4px;
      }
    }
  }



  //.update-form__title-input {
  //  padding: 8px;
  //  width: 95%;
  //}

  .update-form__description-textarea {
    padding: 8px;
    font-size: 18px;
    width: 95%;
  }

}

@media screen and (max-width: 480px) {
  .update-form {
    margin: 16px auto;
    width: 90%;

    .button-container {
      width: 90%;
      gap: 8px;

      button {
        width: 140px;
        height: 42px;
        margin-bottom: 4px;
      }
    }
  }



  //.update-form__title-input {
  //  padding: 8px 12px;
  //  width: 90%;
  //}

  .update-form__description-textarea {
    padding: 8px 12px;
    font-size: 16px;
    width: 90%;
  }

}
