.form-results {
  position: relative;
  text-align: center;
  font-size: 24px;
  margin: 40px auto;
  width: 800px;

  .form-results__title {
    font-size: 36px;
    margin-bottom: 32px;
  }

  .button-container {
    margin: 18px 12px 10px 12px;

    button {
      width: 250px;
    }
  }
}

.form-results__description {
  padding: 13px 15px;
  border-radius: 12px;
  border: 2px solid #424242;
  text-align: left;
}

.form-results__description-title {
  font-size: 25px;
  margin-bottom: 10px;
}

.form-results__description-text {
  padding-left: 10px;
  font-size: 22px;
  font-weight: normal;
  line-height: 35px;
}

.form-results_description-text_participants {
  margin-bottom: 10px;
  .form-results_description-text__participants-item {
    width: 150px;
    margin: 0 15px;
    line-height: 30px;
    font-size: 22px;
    font-weight: normal;
    padding-left: 5px;
  }
}
