<div class="popup_fade"></div>
<div class="popup">
    <div class="popup_window">
        <h3 class="popup_window_title" id="popup-title">Выберите формат документа для экспорта</h3>
        <div class="popup_window_radio-container">
            <input id="format-type-excel" type="radio" checked="true">
            <label for="format-type-excel">Excel Документ</label><br>
            <input id="format-type-csv" type="radio">
            <label for="format-type-csv">CSV Документ</label>
        </div>
        <input class="display-none" id="popup-copy-input">
        <div class="button-container-diagram">
            <button class="secondary-button" type="submit" id="popup-ok-button">Скачать</button>
            <button class="primary-button" type="submit" id="popup-cancel-button">Отмена</button>
        </div>
    </div>
</div>
